[2020-01-28 23:54] cppforlife opened #1 "show steps vendir is taking"
eg show that it's working on particular directory (and may be stream output from git)

[2020-02-12 01:11] cppforlife opened #2 "add directory type that can reference source from local directory"
similar to manual but points to a local directory. copies over files from there and filters out content per usual includePaths/excludePaths rules.

[2020-02-12 01:12] cppforlife commented on #2
https://github.com/k14s/vendir/blob/f295df522233945a827f20916bac70ca17b06b82/pkg/vendir/directory/directory.go#L94

[2020-02-12 18:01] cppforlife commented on #2
fixed in 0.5.0: https://github.com/k14s/vendir/releases/tag/v0.5.0

[2020-02-12 18:01] #2 closed

[2020-02-20 04:52] aegershman opened #3 "there's a ton of potential in this, looking forward to trying it out with automated systems"
I'm really looking forward to testing this out for use with retrieving manifests, code, and github releases from sources and syncing them. I think there's tons of potential for declarative configuration from this. Will test it out more. Thanks a lot for all you do 👍 not an actual issue just wanted to say thanks

[2020-02-20 04:52] #3 closed

[2020-02-20 18:34] cppforlife opened #4 "provide a way to specify github oauth token to avoid rate limit"
useful when fetching github releases.

[2020-02-21 01:56] cwlbraa opened #5 "Enable selective sync"
Today on cf-for-k8s, when I `vendir sync --use-directory` to replace some remote code with local dev copies, it takes 30s to redownload all the dependencies. I really only need to move the files from the one directory. Could this be made faster?

[2020-02-21 20:04] cppforlife commented on #5
@cwlbraa good point. cf-for-k8s definitely got beefier.

[2020-02-21 23:00] cppforlife commented on #5
covered by https://github.com/k14s/vendir/releases/tag/v0.7.0.

eg `vendir sync -d config/_ytt_lib/github.com/cloudfoundry/cf-k8s-networking=~/workspace/cf-k8s-networking` to just touch that directory.

[2020-02-21 23:00] #5 closed

[2020-03-10 21:11] cppforlife commented on #4
added in https://github.com/k14s/vendir/commit/9fa6ec0e4e349029579bcf8e6df021a41e2a70c4 via VENDIR_GITHUB_API_TOKEN env var.

[2020-03-10 21:11] #4 closed

[2020-04-07 17:53] cppforlife opened #6 "support overriding directories within pulled dependencies via later directory configs"
for example:

- pull in config/_ytt_lib/github.com/cloudfoundry/cf-for-k8s
- override config/_ytt_lib/github.com/cloudfoundry/cf-for-k8s/config/_ytt_lib/github.com/pivotal/kpack with something else.

[2020-05-07 00:17] jamespollard8 opened #7 "support a way to download subset of github release assets"
In cf-for-k8s, we'd like to remove `disableAutoChecksumValidation: true` from our entry for kpack, for example.

That block looks like this:
[code]

And when we remove the `disableAutoChecksumValidation` line, we get the error:

`Error: Syncing directory 'config/_ytt_lib': Syncing directory 'github.com/pivotal/kpack' with github release contents: Finding checksums in release notes: Expected to fin

[2020-05-28 15:59] cppforlife opened #8 "support verifying signed git commit"
originally filed here: https://github.com/k14s/kapp-controller/issues/6. since vendir will be used by kapp-controller (https://github.com/k14s/kapp-controller/issues/12), this feature belongs here.

[2020-08-05 19:41] benhass opened #9 "release asset size error (due to 404 during asset download)"
I'm seeing an issue where vendir throws an error when checking the release asset file size: `Checking asset 'file.txt' size: Expected file size to be 74, but was 9`. I checked the api response for release assets, it shows the asset size is 74 bytes. When I manually download the file, it is 74 bytes. Any idea what would cause this?

Some details from the API response (some parts are omitted or rena

[2020-08-05 21:47] cppforlife commented on #9
hmm, interesting. here is the code: https://github.com/k14s/vendir/blob/7e9c900d438eac21867e24be007411e7ba1fc156/pkg/vendir/directory/github_release_sync.go#L74-L82

it downloads and then checks size. i wonder if there is some http error being returned because downloadFile isnt checking for 200 status. you might be hitting github rate limit error: https://github.com/k14s/vendir/blob/develop/docs/g

[2020-08-10 18:47] benhass commented on #9
Thanks for looking into this @cppforlife. I am using a personal access token since this repo is private, so I think it would be pretty unlikely that I hit a rate limit. I also haven't seen any issues at all when requesting the file directly via browser or wget request with the token.

[2020-08-10 20:24] benhass commented on #9
I added a conditional in there to throw an error if the response is non-200 and it looks like I'm getting a 404 for the asset download. Have you confirmed that this works for private repos? I wish I could share more info with you to help troubleshoot...

[2020-08-10 20:25] benhass commented on #9
I used this handy script for sanity checking https://gist.github.com/josh-padnick/fdae42c07e648c798fc27dec2367da21

[2020-08-11 15:23] ciriarte opened #10 "Feature Request: Add semver support"
## Context

**vendir** currently supports tracking specific refs and versions. I'd like to have support for specific version ranges:

[code]

So I can specify valid version ranges for each one of my dependencies.

[2020-08-11 15:32] ciriarte opened #11 "Feature Request: Allow sync (or bumps) for specific dependencies"
# Context

**vendir** currently supports the `--directory` flag:

[code]

But it doesn't save the lock file. I would like vendir to be able to isolate sync/bumps to a specific dependency.

[2020-08-11 16:09] cppforlife commented on #9
hmm, looks like github asset download url didnt work for private repos. switching to asset resource url + header does seem to work. fixed in https://github.com/k14s/vendir/commit/47d346d0536988ab569e7411203a4c97f7c71000. will cut release right after CI passes.

[2020-08-11 16:12] cppforlife commented on #10
i wonder if we should make this functionality more generic since vendir currently supports git and github release, but will also support sources such as docker images, helm charts, etc. ... or does it make sense to just keep it source specific?

[2020-08-11 16:28] cppforlife commented on #9
shipped in https://github.com/k14s/vendir/releases/tag/v0.9.0

[2020-08-11 16:43] paulcwarren commented on #10
+1 for this.

The syntax I have used for this in the past was something like this BTW `[1.0.0, 2.0.0)`; i.e. get the latest available from 1.0.0 up to but excluding 2.0.0.

[2020-08-11 17:53] jorgemoralespou opened #12 "add error hint when vendir.yml is not found"
Many people create yaml files with either `yml` or `yaml` extensions. Vendir should look for both extensions (prioritizing maybe yml), so that it won't fail when the user creates a `vendir.yaml` file.

[2020-08-11 17:55] jorgemoralespou opened #13 "vendir fails when target path does not exist"
[code]

That `vendir/k8s` directory does not exist, and vendir should probably create it as long as it's relative to the current path.

[2020-08-11 18:32] cppforlife commented on #13
fixed in https://github.com/k14s/vendir/commit/95e33e631622149ce90163ca93ae8a5d5a4c4ae4. will be included in next release.

[2020-08-11 18:37] cppforlife commented on #12
hmm, i think it's benefitial for a tool like this to support only one configuration file name since other tools that might want to interoperate with this file, so it would be awkward for them to implement various fallback options. also what would extension be for vendir.lock.yml? seems it gets quite complicated.

[2020-08-11 18:44] jorgemoralespou commented on #12
The main problem with yaml is that extensions has not standardize to a single one. At least, if only want to support one, improve the message on the existence of the `.yaml` version  to something like:

[code]

It took me a while to realize that the extension was the problem as I was looking at the filename mostly.

[2020-08-11 18:47] jorgemoralespou opened #14 "Feature request: support file relocation/rename"
I would like `vendir` to strip/rename paths

[code]

and this ends up creating:

[code]

but I would want:
[code]
everything just in this dir.

The use case is:

I’m collecting the k8s resource definitions from multiple sources to then process them with ytt and apply them with kapp, and have a consistent directory structure. When I get stuff from github releases I just get the files I need in the

[2020-08-11 20:56] benhass commented on #9
Thanks so much for the quick fix! This is working for me now.

[2020-08-11 20:56] #9 closed, assigned to nobody

[2020-08-11 21:28] cari-lynn commented on #11
Hey @ciriarte!
Let us know if this captures your intent.

Currently `vendir sync` only syncs an entire vendir.yml file.
You can use `vendir sync --directory` to override contents of particular directories by pointing them to local directories. However, this does not update the lock file.

To support syncing only a subset of the dependencies in the vendir.yml, vendir sync would provide the ability

[2020-08-12 03:34] ciriarte commented on #10
Yes. It shouldn't be specific to a source.

[2020-08-12 10:44] jorgemoralespou opened #15 "Is contents/path not respected?"
When using this config:

[code]

I would expect to end up with this folder structure:
[code]

I understand the second needs to exist, since it's a manual sync, but the former is not and the resources specified in that rule end up in `k8s/eduk8s/content/...` rather than `k8s/eduk8s/upstream/eduk8s/content/...`.

I have seen the test https://github.com/k14s/vendir/blob/develop/examples/overlapping-d

[2020-08-12 10:48] jorgemoralespou commented on #15
So, now I created the `k8s/eduk8s/upstream/eduk8s` folder and everything was properly created there, but for some reason all the existing files in `k8s/eduk8s/myfile.yaml` were deleted this time.

[2020-08-12 10:54] jorgemoralespou commented on #15
I had to mmove everthing into a folder like:

[code]

and then add this to preserve these files:

[code]

[2020-08-12 14:32] cppforlife commented on #15
i ran vendir sync against your config above. i had to create `k8s/eduk8s/downstream/hub` since it's expected to be already existing before hand. if you dont want to do that, use `directory: {path: "..."}` instead of manual. following was the end result after sync:

<img width="302" alt="Screen Shot 2020-08-12 at 10 30 25 AM" src="https://user-images.githubusercontent.com/185847/90027751-df66b500-d

[2020-08-12 14:35] cppforlife commented on #14
one of the reasons why its is like that at this moment is because its not clear what should happen when there are conflicts between file names, directory name vs file name, etc. any suggestions?

[2020-08-12 15:47] cppforlife commented on #11
@ciriarte we wouldnt expect to modify anything other dependencies -- even if they were modified on disk, intentionally or unintentionally -- right?

[2020-08-12 16:37] jorgemoralespou commented on #15
Thanks,
I'll close the issue since it seems as expected behavior, although the documentation doesn't help/clarify much in this regards in many of the cases.

[2020-08-12 16:37] #15 closed, assigned to nobody

[2020-08-12 17:22] ciriarte commented on #11
My expectation is that vendir will only update the directory it is managing and I've instructed in the `vendir sync -d some_dir` call.

[2020-08-12 17:30] ciriarte commented on #11
@pivotal-dean

My understanding is that `vendir sync -d` has a couple of options per the help command:

1. It does sync local dirs if used with `dir/sub-dir[=local-dir]` **I'm not really interested in this workflow at the moment** 🚫
2. It synchronizes with a remote if the optional `[=local-dir]` is omitted. **This does something close to my desired outcome** ✅

If my understanding of 2 is correct,

[2020-08-17 16:21] jorgemoralespou opened #16 "Feature request: Support vendir to update a whole set of dependencies"
When having:
[code]

If one wants to update only examples, it would need to do it one by one with `vendir sync -d k8s/examples/A` then B and then C. It would be ideal to support the whole tree under examples when done via `vendir sync -d k8s/examples`.

And linked to #11 It would be ideal to support this use case for -d that doesn't save vendir.lock file as well as with an option to save the vendi

[2020-08-17 16:28] jorgemoralespou commented on #14
It would maybe make sense to add a relocation/fail strategy. An example would be:

[code]

[2020-08-17 16:30] jorgemoralespou commented on #13
@cppforlife has this been released?

[2020-08-17 21:33] cppforlife commented on #13
not yet. one way to tell if commit is in a release is to click on commit and see if it's under any tags (aside from develop branch).

[2020-08-26 21:17] cppforlife commented on #13
included in https://github.com/k14s/vendir/releases/tag/v0.10.0

[2020-08-26 21:17] #13 closed, assigned to nobody

[2020-08-26 21:17] cppforlife commented on #12
included in https://github.com/k14s/vendir/releases/tag/v0.10.0

[2020-08-26 21:17] #12 closed, assigned to nobody

[2020-08-26 21:17] cppforlife commented on #11
included in https://github.com/k14s/vendir/releases/tag/v0.10.0

[2020-08-26 21:17] #11 closed, assigned to nobody

[2020-09-01 20:11] cppforlife opened #17 "be more forgiving when trailing slash is specified in the directory path"
[code]

and

[code]

should be equivalent. in v0.10.0 trailing slash causes a fs rename error.

[2020-09-01 20:23] cppforlife commented on #17
fixed in https://github.com/k14s/vendir/commit/1b7581a6802455a18dc44e8d88d7fc49d40517dc. will be included in the next release.

[2020-09-02 00:12] StevenLocke commented on #14
We can definitely see how this need is really valid!

For further discussion, what aspects of directory shaping fit within vendir's responsibilities?
How much of that is intrinsic to vendoring in software?

[2020-09-30 21:28] ram-pivot commented on #10
+1 It will really helpful as we are also planning to consume other external components as libraries and this would help us to pin to a particular version.

[2020-10-06 15:17] cppforlife commented on #10
sources:

- [ ] git (via tags)
- [ ] githubRelease (via tags)
- [ ] helm chart (via versions)
- [ ] image (via tags)
- [ ] http (???)

[2020-10-13 19:34] anEXPer commented on #10
The Pivnet resource (and various other Concourse-ecosystem resources) accomplish some of this with regex filters; this allows expressive constraints of what versions will be included/excluded without having to create/document/maintain yet-another version specification DSL, or adopt one of the various (sometimes pretty complex) existing ones.

This also allows a distinction between the "explicit st

[2020-10-14 13:13] cppforlife commented on #10
it seems to be pretty uncommon to use regex for version constraints compared to ">=1, <2" commonly found in various package managers.

[2020-10-14 21:30] kvaps opened #18 "Expected directory contents type to be specified (one of git, manual, etc.)"
Hi, could you please clarify what exactly should be specified, and where?

to reproduce:
[code]

output:
[code]

[2020-10-15 14:37] ciriarte commented on #10
I like https://github.com/Masterminds/semver because it tries to be compatible with other package managers (in version 3+). Also, they have a a cli to perform quick validations https://github.com/Masterminds/vert which is useful for scripts/pipeline composition.

e.g. I often end up mucking with `git describe --tags` but vert already supports the transformation/filtering:

[code]

[2020-10-15 23:06] cppforlife commented on #10
currently using hashicorps' go-version library (https://github.com/k14s/vendir/blob/develop/docs/versions.md).

[2020-10-15 23:08] cppforlife commented on #18
@kvaps we have not cut a release yet that includes several source types (image, helm, etc.). currently working on a few additional bits before making 0.11.0.

[2020-10-16 01:01] cppforlife commented on #10
@ciriarte first pass for git ref selection is on develop. example: https://github.com/k14s/vendir/blob/develop/examples/versionselection/vendir.yml. give it a go and lmk.

[2020-10-16 01:35] ciriarte commented on #10
This is awesome. Will do and report back!

[2020-10-16 23:04] cppforlife commented on #18
included in https://github.com/k14s/vendir/releases/tag/v0.11.0

[2020-10-16 23:04] #18 closed, assigned to nobody

[2020-10-16 23:05] cppforlife commented on #17
included in https://github.com/k14s/vendir/releases/tag/v0.11.0

[2020-10-16 23:05] #17 closed, assigned to nobody

[2020-10-16 23:06] cppforlife commented on #14
https://github.com/k14s/vendir/releases/tag/v0.11.0 includes newRootPath configuration that changes "root" directory for the source.

[2020-10-16 23:06] cppforlife commented on #10
included in https://github.com/k14s/vendir/releases/tag/v0.11.0

[2020-10-29 22:21] jamespollard8 commented on #7
bump

[2020-10-30 16:04] cppforlife commented on #7
i was thinking more about this... i think a better solution here is to have checksums in release notes for all assets included (not sure why kpack folks only did it for one file). vendir today checks integrity of downloaded asset (in this case github release is considered to be "one" thing), and at a later stage it includes/excludes files. it's going to be quite unnatural to intermingle the too si

[2020-10-30 16:40] jamespollard8 commented on #7
That's definitely something we could pursue but I worry that those changes are unlikely to get prioritized by pack folks.

I'd also be okay marking this general issue as "won't fix" - I just want to make sure we're being intentional here.

I'll defer to whichever decision you're leaning towards - just let us know.

[2020-11-02 14:27] cppforlife commented on #7
added `assetNames` for githubRelease sync: https://github.com/k14s/vendir/commit/1bf2caa4f5fb74b3ca65e28dc8f78f8aee024c1c. will be available in v0.12.0+.

[2020-11-02 14:30] cppforlife commented on #10
switched to blang/semver in https://github.com/k14s/vendir/commit/cb32f5a5c820499f554029f7e6fe4867b5fbd289. this allows more control over when prerelease versions are included or not. added examples: https://github.com/k14s/vendir/blob/develop/docs/versions.md#examples. change will be available in v0.12.0+

[2020-11-03 12:46] cppforlife commented on #8
added in https://github.com/k14s/vendir/commit/d58c97efb4e0c8d5bcfb56a3b127e3998febd8f7. will be available in v0.12.0+

[2020-11-04 16:01] cppforlife commented on #8
included in https://github.com/k14s/vendir/releases/tag/v0.12.0

[2020-11-04 16:01] #8 closed, assigned to nobody

[2020-11-04 16:01] cppforlife commented on #7
included in https://github.com/k14s/vendir/releases/tag/v0.12.0

[2020-11-04 16:01] #7 closed, assigned to nobody

[2020-11-04 16:02] cppforlife commented on #10
updates are in https://github.com/k14s/vendir/releases/tag/v0.12.0

[2020-11-04 16:02] #10 closed, assigned to cppforlife

[2020-11-09 12:52] Zebradil opened #20 "remove manual source in favor of using directory source"
If `vendir sync` fails, manually managed directories might be deleted.

There are two paths in the config: 1) manually managed `lib/manifests`, 2) Non-existing `git` `lib/bin`

[code]

Dir structure before `sync`:
[code]

After `sync`:

[code]

As far as I understand, `vendir` processes paths in the order they're defined in the configuration. For manually managed paths it moves them into temporary

[2020-11-09 15:21] cppforlife commented on #20
@Zebradil yeah, `manual` source was very early addition that doesn't quite fit with methodology of vendir (vendir doesnt want to be "keeping" authoritative content). i would recommend switching to `directory` source. ill probably remove manual in the next release given that it can present very rough experience.

[2020-11-09 15:52] Zebradil commented on #20
Alright, thanks for the update!

It seems like `vendir` works better within a dedicated directory. And I think I was trying to do something outside of the idea behind it.

My idea was to inject some third-party resources into my project without using a dedicated directory for that:

[code]

Now I'm going to put vendir-managed stuff to a dedicated directory and maybe symlink `Makefile` from there.

[2020-11-09 18:05] cppforlife commented on #20
based on your breakdown above i dont think you would be able to do "manual" on the individual files so that already wouldnt work out.

but you should be able to have vendir.yml (at the root) with multiple top level directories for bin/, ytt/lib/

[code]

though may be we should even support additional:

[code]

(could even be convenient to sync LICENSE, NOTICE, other misc files across various repo

[2020-11-09 18:09] cppforlife commented on #20
i do like a possibility of what you trying to do with `manual` though. probably should do more thinking around this...

[2020-11-10 18:37] aknysh opened #21 "Bug: Paths don't allow using path names that starts with a string that is used in other path names"
## what
* Bug: Paths don't allow using path names that starts with a string that is used in other path names

## why

We use the following configuration in `vendir.yml`:

[code]

and getting the following error:

[code]

Note that `account_map` does not work either, throwing the same validation error.

Moving the folders to the top-level throws the same error as well:

[code]

This does not work e

[2020-11-10 20:29] danielhelfand commented on #21
I have taken a look and have been able to reproduce the issue above.

Just to clarify here it looks like any subpath under `contents` that is a substring of another subpath does not pass `vendir`'s validation. The validation logic takes place [here in the code](https://github.com/k14s/vendir/blob/25fc4fa5b765c8a85891a04cf9eb40f3894b9004/pkg/vendir/config/config.go#L254) where it looks like `string

[2020-11-11 21:03] #21 closed, assigned to nobody

[2020-11-13 17:19] cppforlife opened #25 "add kubernetes source"

[2020-11-13 17:45] osterman opened #26 "Feature request: Automatic Releases on Merge to Master"
## what
* we rely on the binary releases to ship `vendir` in our https://github.com/cloudposse/packages
* these are published as alpine, debian (and soon rpm) packages

## why
* we are blocked by not having a release for the bug fix contained in #22

## references

Fwiw, here's how we do it:

* We automatically cut releases using this action: https://github.com/cloudposse/github-commenter/blob/mas

[2020-11-13 18:11] cppforlife commented on #26
im happy to cut a release for you in this case.

did you mean "master" or "develop" branch? if develop (our main development branch), i typically prefer to produce release with several features grouped together instead of just cutting release every time something is fixed to avoid having a "release fatigue" on the consuming side. obviously some folks have different appetite for consuming fast stre

[2020-11-13 18:31] cppforlife commented on #26
https://github.com/k14s/vendir/releases/tag/v0.13.0 includes #22 PR.

[2020-11-13 19:16] aknysh commented on #26
thanks @cppforlife

[2020-11-13 19:55] osterman commented on #26
@cppforlife lots of ways to do it, it's definitely more conventional to batch features into a release as you suggest.

We practice a different strategy, that's evolved over time (not asking you to adopt it, just sharing it for context).

https://docs.cloudposse.com/community/faq/#what-is-our-versioning-strategy

It's similar to the policy that's been adopted for other projects, most notably `helmf

[2020-11-16 18:52] cppforlife commented on #26
thanks for sharing info about your release process (carvel projects also follow semver, but sounds like you also opted into continuous releasing). it may change for us for time when current process becomes burdensome or doesnt scale as project matures.

ill close this issue for now since release was cut. we'll probably revisit topic of releasing in future in a larger scope than just vendir.

[2020-11-16 18:52] #26 closed, assigned to nobody

[2020-11-17 19:59] danielhelfand commented on #25
I am curious about this feature. Are there any more details to add on what a Kubernetes source for `vendir` means? Does this mean fetching resources from a cluster, or something different?

[2020-11-17 20:13] cppforlife commented on #25
yeah something like this what i had in mind:

[code]

main use case you be when vendir is being used by kapp-controller. it would give ability for App CR to take k8s resources in the cluster as inputs to ytt templates.

[2020-11-21 04:39] adriens opened #27 "Typo in project's tags > "vendor" instead of "vendir"
Hi, there's a minor typo in the projects tags: `vendor` instead of `vendir`

![image](https://user-images.githubusercontent.com/5235127/99867683-a8058e00-2c0f-11eb-9792-cb7762022240.png)

[2020-11-21 04:44] adriens opened #28 "New source idea > java artefacts (ie. java dependencies)"
Hi, I wonder it would not be useful to be able to pick jar java artifacts (aka. maven/gradle dependencies).

We could target:

- [ ] maven central
- [ ] jitpack
- [ ] any private JFrog artifactory or Nexus repo

[2020-11-21 05:31] danielhelfand commented on #27
I think the tag is more about the general concept of vendoring as described in the description. No other Carvel repos have a tag with the project name.

[2020-11-21 05:43] #27 closed, assigned to nobody

[2020-11-22 12:32] cppforlife commented on #28
@adriens sounds interesting. tell us more about what you thinking? (im not too familiar with java world workflows)

[2020-11-23 23:46] pivotaljohn commented on #21
Sweeping up: #22 made it into [v0.13.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.13.0); removing "in-progress" label.

[2020-11-27 23:57] adriens commented on #28
Sorry for late anwser @cppforlife .

Then, by being able to reference a Java artifact [thanks to a repo](https://mvnrepository.com/artifact/org.postgresql/postgresql/42.2.18) then classical artefact properties:, please find below PostgreSQL jdbc driver :
[code]

you get the garanty that you have a get certified jar.

This could be useful if people may like to add jars to their directory, and get t

[2020-12-01 19:43] osterman opened #29 "Feature Request: Support Flag to Disable Deletion"
## use-case

We're using `vendir` in a number of different ways to vendor configuration files in from a centralized source.

1) One way is to "layer" configurations from a centralized source. That is, we import a base of configurations and then add a few minor customizations in new files.
2) The other way is we initialize configurations (then disable and diverge), while maintaining a record of whe

[2020-12-01 19:43] osterman commented on #29
@aknysh on our team is standing by ready to contribute the changes if you agree to the additions.

[2020-12-02 16:10] cppforlife commented on #28
that sounds like a bit closer to what typical lang-specific dependency manager is doing (eg maven). of course vendir could add a source that would use maven but id like to see a bit more concrete proposal there. (eg what does it look like, what maven command we would be running, etc.)

if you are grabbing random jars from somewhere, then you can definitely codify that with vendir via one of the ex

[2020-12-02 20:20] adriens commented on #28
Sure, definitely 👍 Hence it would not look like a java rtefect buth rather like any other `http` resource, but without specific java artefact configuration.

So, I 'm dropping this feature request 👍

[2020-12-02 20:20] #28 closed, assigned to nobody

[2020-12-02 20:28] ewrenn8 commented on #29
Hi @osterman!

Thanks for the feature requests! Before we make a decision on whether these features are something to implement, could you provide us with a few more details on the use cases you've described? Even a concrete example would be great! We would just like to get a sense for exactly what the goal is in each use case and how accomplishing that goal currently looks.

Eli

[2020-12-04 08:41] osterman commented on #29
@ewrenn8 - sure thing! Here's our precise use-case.

We're using `vendir` as our tool for vendoring in terraform ["root" modules](https://www.terraform.io/docs/modules/index.html#definitions) (aka top-level modules), as well as vendoring in [`helmfiles`](https://github.com/cloudposse/helmfiles) for [`helmfile`](https://github.com/roboll/helmfile).

We maintain literally [hundreds of terraform modu

[2020-12-08 21:02] ewrenn8 commented on #29
@osterman For clarification, are the generated files generated from the assets that are synced via vendir? If so, how will you handle the potential that the assets which were used to generate the backend were changed during a sync?

[2020-12-08 23:59] osterman commented on #29
@ewrenn8

For our use-case, the `backend.tf.json` does not need to be regenerated based on the sync. Additionally, the file would never occur upstream.

But to solve this in the general sense, it could easily be handled by `ignorePaths`: (as in the example above)

[code]

Vendir should `ignorePaths` here. Not sync it. Not delete it.

[2020-12-10 19:54] cppforlife commented on #29
what would happen when upstream deleted a directory that happens to currently contain *.tf.json?

the way i think about vendir is that it layers sources i.e. fetch source, then apply include/exclude paths. for your proposed use case i could imagine allowing additional layers from "existing" directory (e.g. copy over all files matching glob from existing directory to a directory that is being stage

[2020-12-10 23:43] osterman commented on #6
@cppforlife would you say this relates kind of to our use case in #29 ?

[2020-12-11 14:18] cppforlife commented on #6
nah dont think so. this is more about overriding directories wholesale (with an updated dependency) whereas #29 is more about modifying downloaded dependency. there is some relationship but prolly a bit different.

[2020-12-11 18:39] osterman commented on #6
Oh no, definitely not what I wanted to imply. We don't want to modify any file downloaded. We just want to keep files in the directory tree that did not originate at the source and not have those erased.

[2020-12-11 23:39] cppforlife commented on #6
what i meant is that we see directory represented via a source as a single asset. so any modification to that directory (eg copying over temp files like *.tf.json) is "modifying asset".

[2020-12-13 21:42] cppforlife opened #34 "support imgpkg bundle download"
**Describe the problem/challenge you have**

want to download imgpkg bundles.

**Describe the solution you'd like**

[code]

would use imgpkg pull -b ...

TBD is is too confusing that we are using `image` for referring to bundle? mostly interested in doing that because kbld picks up `image` key automatically for image ref.

**Anything else you would like to add:**

related: should we update image

[2020-12-15 07:35] osterman commented on #29
I've updated my description to use terminology more consistent with `vendir`.

## Current Directives

These features are all supported by `vendir` today:

- `includePaths` specify what should be included. Any files outside of `includePaths` are deleted.
- `excludePaths` are "placed" on top of include paths, and any files inside of `excludePaths` are deleted.
- `legalPaths` are paths to files that

[2020-12-15 18:42] aknysh commented on #29
looks like `ignorePaths` attribute is what we want.

[2020-12-16 01:24] cppforlife commented on #29
and to be truthful to the example description, it would be this right?

[code]

to cover all nested backend.tf.json. what should happen if upstream removed a directory and we have backend.tf.json in our local copy? im assuming we would still copy it over (and in process ensure that directory is available).

(implementation for this would be to download everything from scratch as usual, but also co

[2020-12-16 18:00] osterman commented on #29
@cppforlife yes, thanks for the correction in the example. That's more accurate.

Also, I was thinking about some analogs for comparison to other tools:
- the functionality we're talking about is similar to the behavior of the `.gitignore` file. These files are not considered part of the git tree, just like `ignorePaths` should not be considered as part of the vendoring.
- it is also a bit similar

[2020-12-29 17:42] paulczar opened #35 "`go get github.com/vmware-tanzu/carvel-vendir` fails"
Looks like there's a bug getting the checksum of carvel-vendir due to a file name `aux.go`.

[code]

[2020-12-29 17:46] paulczar commented on #35
It looks like it was fixed here, just after the 0.14.0 release, cutting a new release should fix it.

https://github.com/vmware-tanzu/carvel-vendir/commit/393bea7fb7386120edb1170c5dce25b067701183

[2021-01-05 18:06] danielhelfand opened #36 "Just opening this issue to test actions"
Foo

[2021-01-05 18:06] danielhelfand commented on #36
Closing with comment

[2021-01-05 18:08] #36 closed, assigned to nobody

[2021-01-06 00:05] osterman commented on #29
@ewrenn8 anything more we can help provide to make our case for this feature? Again, we're offering to implement it. =)

[2021-01-06 18:31] cppforlife opened #37 "support ignorePaths to exclude removal of certain files"
**Describe the problem/challenge you have**

in some cases it's useful to retain certain temp files among fetched directories. (e.g. temp files generated by tools that were operating on top of fetched files.)

**Describe the solution you'd like**

add ignorePaths key on directory contents. ignorePaths would specify a set of globs that would be used to match in existing directories and copy them ov

[2021-01-06 18:33] cppforlife commented on #29
hey @osterman and @aknysh. back from holidays... ive created this issue to capture what i believe we came from our discussion above: https://github.com/vmware-tanzu/carvel-vendir/issues/37. if that description and details make sense, i think it's unblocked to be implemented.

[2021-01-06 21:29] aknysh commented on #37
@cppforlife thank you.
The description sounds like what we need.

[2021-01-11 16:45] danielhelfand opened #38 "https://kubernetes-charts.storage.googleapis.com/ has been Removed"
[Tests are failing](https://github.com/vmware-tanzu/carvel-vendir/runs/1664182562) due to the removal of https://kubernetes-charts.storage.googleapis.com/.

The url is hardcoded in vendir [here](https://github.com/vmware-tanzu/carvel-vendir/blob/f5dc883e5e199774786b79c2e9557b2949f1a16e/pkg/vendir/fetch/helmchart/sync.go#L131).

[2021-01-14 10:04] vvicaretti opened #40 "Feature request: support flag to disable UnpackArchive"
**Describe the problem/challenge you have**
When the target is a zip file, vendir automatically unzip it.
It would be nice to introduce a flag to disable this behavior.

**Describe the solution you'd like**
Example:
[code]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

[2021-01-15 16:48] ewrenn8 commented on #40
Hi @vvicaretti, thanks for the feature request! I am going to add the `carvel-accepted` label as this seems like a good feature we'd like to support. Admittedly, we may not get to it in the near term, so, if you are willing, submitting a PR is probably the quickest way to get this feature.

[2021-01-20 18:00] ewrenn8 commented on #38
Bumped the helm binary used in the tests to the version where the hardcoded url was removed (v2.17.0) here 7930bc2272a07497b3a8d5d7144071d310fc36a2. If users run in to this problem, they will need to update the helm binary on their system to a version without the url as well.

[2021-01-20 18:00] #38 closed, assigned to nobody

[2021-01-20 18:20] cppforlife commented on #35
cut the new release: https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.15.0

[2021-01-20 18:20] #35 closed, assigned to nobody

[2021-01-25 23:20] #34 closed, assigned to nobody

[2021-01-27 10:08] stefanhenseler opened #45 "missing git tags"
**What steps did you take:**
1. I've created the following vendir.yml:

[code]
2. I executed `vendir sync`:

[code]

**What happened:**
The command `git fetch` doesn't seem to fetch all tags for the keycloak-operator repo.

**What did you expect:**
I would expect that all existing tags on upstream could be resolved.

**Anything else you would like to add:**
I've tried to execute the git commands m

[2021-01-27 19:36] ewrenn8 opened #46 "Add e2e test for imgpkgBundle"
fetching bundles using imgpkg was added, so we should add an e2e test for that behavior

[2021-01-27 20:13] ewrenn8 commented on #46
added in 603cd661573f6478ebc2161f7322db48d5c3ca2e

[2021-01-27 20:30] braunsonm opened #47 "Vendir should preserve execution permissions on extract"
**What steps did you take:**

[code]

`vendir sync`

**What happened:**
The extracted package binaries will be set as non-executable even though in the archive they are executable.

**What did you expect:**
The file permissions should be left alone and they should be executable.

**Anything else you would like to add:**
This is very important for downloading of CLI tools

**Environment:**

- vendi

[2021-01-27 20:36] cppforlife commented on #47
this was an intentional design choice but i think its fair to preserve executable bit and provide a flag that disables that feature (to be used in kapp-controller for example).

[2021-01-28 15:33] stefanhenseler commented on #45
@cppforlife I did some

[2021-01-28 15:51] stefanhenseler commented on #45
I did a quick test. It seems like adding the additional command `git fetch origin --tags` ( https://github.com/synax/carvel-vendir/commit/c09ec735b56c6e606e2c8d79ae3c94b6aad03c19) works. I'm not sure if that's the right approach and why this is happening in the first place :).

[2021-02-01 17:24] #46 closed, assigned to ewrenn8

[2021-03-02 18:04] LukeWinikates opened #49 "`githubRelease.unpackArchive.path` should support globbing"
**Describe the problem/challenge you have**
Assets in Github releases often include the release version as part of the asset's filename, but `vendir`'s `unpackArchive` option does not currently support globbing, although the `githubRelease.assetNames` array does support globbing. Lack of globbing support means that `unpackArchive` cannot be used as intended for many Github Releases.

Currently, at

[2021-03-02 18:24] LukeWinikates opened #50 "`githubRelease` errors on releases without explicit assets"
**What steps did you take:**

I attempted to run `vendir sync` with a `githubRelease` for `open-policy-agent/gatekeeper`. The entry under `contents:` looks like:

[code]

**What happened:**
I get an error that reads `Error: Syncing directory 'config/upstream': Filtering paths in directory 'gatekeeper': Expected to find at least one file within directory.` This error is very cryptic. I spent a few

[2021-03-18 22:15] cppforlife commented on #50
@LukeWinikates any thoughts on picking git (by a tag) vs githubRelease fetch types to fetch source code?

[2021-03-18 22:15] cppforlife commented on #49
good point!

[2021-03-19 20:58] LukeWinikates commented on #50
I think using the git fetch type is a viable workaround. Honestly, for our use case, there doesn't seem to be anything in the source code that we actually need from the git repo either, but we were attempting to conform to a vendir usage pattern established by the codebase we were contributing to.

Other packages in the repository we were adding to had a pattern of using `vendir` to pull in `yaml`

[2021-03-22 16:46] cppforlife commented on #50
i think that would be a helpful addition.

so it sounds like the asset that you actually care about is the image tag and that image tag is part of somebody else yaml file. hmm ill have to chew on that if vendir can be (/should be) helpful in such scenario (i could imagine having vendir provide some metadata that could be used to "generate" a file that would be a ytt overlay -- sounds a little weir

[2021-04-01 17:31] aaronshurley commented on #49
Thanks for submitting this. We may not get to this soon but would accept contributions :)

[2021-04-01 17:31] aaronshurley commented on #37
Thanks for submitting this. We may not get to this soon but would accept contributions :)

[2021-04-01 17:32] aaronshurley commented on #47
Thanks for submitting this. We may not get to this soon but would accept contributions :)

[2021-04-06 22:17] benmoss opened #57 "Symlinks aren't properly copied"
**What steps did you take:**
`vendir sync` with this config:

[code]

**What happened:**
`config/upstream/serving/config/core/300-imagecache.yaml` is an invalid symlink, pointing to a file that doesn't exist.

**What did you expect:**
I'm not 100% sure, probably it should collapse the symlink into a regular file with the contents of the file it pointed to. Maybe this needs to be configurable.

**A

[2021-04-09 18:24] benmoss commented on #57
Maybe should just switch to something like copy-pasta-ing https://github.com/golang/dep/blob/v0.5.4/internal/fs/fs.go#L356

[2021-04-15 23:55] voor opened #59 "Support Helm 3 OCI Charts"
**Describe the problem/challenge you have**
I would like to relocate a Helm chart that is stored in an experimental OCI image

Additional troubleshooting: https://kubernetes.slack.com/archives/CH8KCCKA5/p1618514640321100

**Describe the solution you'd like**
The helm chart is inside the container image, but it has an invalid rootfs so is failing on image pull, no preference on whether that means i

[2021-04-19 21:26] cppforlife commented on #59
included in https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.19.0. will be included in kapp-controller shortly.

[2021-04-19 21:26] #59 closed, assigned to nobody

[2021-04-21 21:02] adriens opened #61 "Looks like `vendir-windows-amd64.exe` of v0.19.0 returns `0.18.0` (instead of `0.19.0`)"
**What steps did you take:**

1. Download `vendir-windows-amd64.exe` binary from https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.19.0
2. Run `vendir-windows-amd64.exe version`
3. Check that it answers : `0.18.0` (instead of `0.19.0`)

**What happened:**

- It answers : `0.18.0` instead of `0.19.0`

**What did you expect:**

- Should answer `0.19.0`

**Environment:**

- OS (e.g. from

[2021-04-21 21:09] ewrenn8 commented on #61
Thanks for the heads up, looks like they may have been built before the version was bumped. I will upload new assets right now

[2021-04-21 23:43] adriens commented on #61
Yep, as I've checked the source code and the version is the good one 👍

[2021-04-21 23:44] adriens commented on #61
Just let me know when you have dropped the asset, I'll confirm you the fix

[2021-04-21 23:47] ewrenn8 commented on #61
Its been uploaded

[2021-04-21 23:50] adriens commented on #61
I'm giving it a try now

[2021-04-21 23:53] adriens commented on #61
I'm giving it a try now

[2021-04-21 23:54] adriens commented on #61
[code]

[2021-04-21 23:54] #61 closed, assigned to nobody

[2021-05-05 21:26] ewrenn8 opened #62 "Allow recursive pulling of imgpkg bundles"
**Describe the problem/challenge you have**
If i have a recursive bundle, I would like to be able to pull it recursively

**Describe the solution you'd like**
Expose a `recursive: true/false` option to the imgpkgBundle fetch config

**Anything else you would like to add:**
Eventually, we may want to also support a filter here using [proposed filtering behavior in imgpkg](https://github.com/vmware-

[2021-05-05 23:36] ewrenn8 commented on #62
Associated PR: #63

[2021-05-20 15:41] jorgemoralespou commented on #25
One caveat that needs to be taken into account, specially when using this in combination with kapp-controller's packages is that we need to make sure that inputs that are fetched via vendir are not used as outputs (as they are) as you might be trying to install resources that another package installed and then getting owner conflicts.

[2021-05-28 11:40] meier-christoph opened #67 "vendir downloads helm charts to c:\windows"
**What steps did you take:**

I am using the carvel suite with helm on windows. Any helm chart should be able to reproduce the issue.

[code]

**What happened:**

[code]

**What did you expect:**

It should use the `.vendir-tmp` dir relative to the current dir or use `~/.cache/vendir` or event `/tmp` or `C:\Users\{user}\AppData\Local\Temp`

**Environment:**

- vendir version (execute `vendir --ver

[2021-05-28 11:56] meier-christoph opened #68 "vendir cannot access the file because it is being used by another process on windows"
**What steps did you take:**

When you add more than 1 path to directories using the http plugin you get these errors on windows.

[code]

I suspect that the tmp dir is not unique and/or is shared with both downloads that run in some goroutines in parallel but then they try to delete the dir (or parent dir).

**What happened:**

[code]

**Environment:**

- vendir version (execute `vendir --version

[2021-06-07 20:29] scottd018 opened #71 "Using newRootPath and legalPaths together result in missing LICENSE file"
**What steps did you take:**
[A clear and concise description steps that can be used to reproduce the problem.]

A typical GitHub project generally includes its license at the root of the project.  When specifying the newRootPath, this will adjust the root path of the project after the download and since the legalPath likely exists outside of newRootPath, the legalPath ends up missing.

Consider t

[2021-06-08 13:52] cppforlife commented on #68
@meier-christoph did you have two "vendir sync" running in parallel? can you confirm that running a single "vendir sync" on your system is resulting with this error?

[2021-06-08 13:58] cppforlife commented on #68
the actual problem looks to be that we are not closing temp file [0]. even though we are trying to remove it we still need to do tmpFile.Close beforehand. fixing this issue should fix the clean up issue.

[0] https://github.com/vmware-tanzu/carvel-vendir/blob/05250dd89612f3fe07d9d5667e03ba70117a1f5a/pkg/vendir/fetch/http/sync.go#L34-L44

[2021-06-08 14:37] cppforlife commented on #71
this one is tricky. do you think we should just drop these files in? should we error if there are existing files with matching names?, im thinking we can add:

[code]

[2021-06-08 15:04] scottd018 commented on #71
Yeah, understood this could get a bit tricky.  I think that `newRootIncludeLegal` would definitely work.  I'm trying to think if there are any other use cases, beyond legal, in which this may apply, but I can't think of any.

Thinking out loud, if there wasn't a `newRootIncludeLegal`, I would expect the `legalPaths` to simply show up in the defined `newRootPath` **unless** there is an overlapping

[2021-06-08 17:22] meier-christoph commented on #68
only a single `vendir sync`, nice find on the missing close, updated the pr #70

[2021-06-14 02:51] ciriarte opened #72 "vendir sync -l -d some_path doesn't filter by some_path"
**What steps did you take:**

[code]

**What happened:**

I invoked vendir with `-l` and `-d some_path` and it downloaded all the artifacts in the lockfile, instead of just the locked dependency I was specifying.

**What did you expect:**

I was expecting to fetch only the directory specified by `-d some_path`

**Anything else you would like to add:**

Not really.

**Environment:**

- vendir versi

[2021-06-17 14:10] cppforlife commented on #72
hmm, can you provide a little example. im not sure -l and -d were implemented to work together at this point. (at least im getting an error: `Error: Expected to find directory 'vendor/docker.io/ewrenn/consul-helm-naked' within lock config, but did not` when using it.)

[2021-06-22 00:20] GrahamDumpleton opened #75 "Have option for vendir sync to run in different directory."
**Describe the problem/challenge you have**

When working with packages and where the ``vendir.yml`` file is located in a sub directory, it is extra work to ensure that you first ``cd`` into the directory before running ``vendir sync``. If running command manually or scripting actions working across multiple packages, means have to use something like the following to ensure left in original direct

[2021-06-22 16:56] ewrenn8 opened #76 "Sort semvers based on build metadata as well"
**Describe the problem/challenge you have**
Currently, semvers are not being sorted by their build metadata, which leaves some room for non determinism of selected versions.

**Describe the solution you'd like**
Sort the semvers on build metadata. Although the spec says not to rely on it, we should sort build metadata the same way as pre-releases. [Spec](https://semver.org/)

---
Vote on this requ

[2021-06-22 17:30] aaronshurley commented on #62
Moving this to Done. Awaiting a release to be cut.

[2021-06-23 14:21] osterman opened #77 "Cut New Release"
Any chance we can get a new release cut? =) We anxiously await use of https://github.com/vmware-tanzu/carvel-vendir/pull/64?

We use the release to [distribute the packages](https://github.com/cloudposse/packages/tree/master/vendor/vendir) we depend on.

[2021-06-23 21:24] ewrenn8 commented on #77
published `v0.20.0` with these changes. Thanks for the contribution!

[2021-06-23 21:24] #77 closed, assigned to nobody

[2021-06-23 21:24] ewrenn8 commented on #62
included in `v0.20.0`

[2021-06-23 21:24] #62 closed, assigned to nobody

[2021-06-23 21:25] ewrenn8 commented on #37
included in `v0.20.0`

[2021-06-23 21:25] #37 closed, assigned to nobody

[2021-06-23 22:51] adriens opened #78 "🚀 No tweet that announces the v0.20.0 release"
Hi, I use the [release](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.20.0) tweet to communicate on the choco package availabiliy, but this time I just can't find the related tweet : can you do one as usual please ?

Thanks in advance for your help.
Friendly yours,
Adrien

[2021-06-23 23:00] ewrenn8 commented on #78
Sorry about that! I've let the folks responsible for the twitter know and will update you once the tweet has been posted.

[2021-06-23 23:03] adriens commented on #78
Yes, that's great. In the mean time, I'm waiting on choco review phase that can take some days sometimes...
Thanks a lot for your comment 👍

[2021-06-24 01:48] adriens commented on #78
https://www.linkedin.com/posts/adrien-sales_carvel-vendir-0200-activity-6813643788041486336-SkTq

[2021-06-24 01:52] adriens commented on #78
https://community.chocolatey.org/packages/vendir/0.20.0

[2021-06-24 01:53] adriens commented on #78
Ready to retweet your release Tweet

[2021-06-24 19:38] microwavables commented on #78
@adriens Here ya go! https://twitter.com/carvel_dev/status/1408147318235447298?s=20

Thank you!

[2021-06-24 19:38] #78 closed, assigned to nobody

[2021-06-24 19:54] adriens commented on #78
😆  thanks a lot @microwavables  😗
https://twitter.com/rastadidi/status/1408151191993798656

[2021-06-25 10:09] iliazlobin opened #80 "Utilize caching when fetching similar repos"
**Describe the problem/challenge you have**
When it comes to using [overlapping sync options](https://github.com/vmware-tanzu/carvel-vendir/tree/develop/examples/overlapping-dir), it's usually that you would mention the same repo to pull from several times in order to substitute one of the folders with a custom one from the private repo, for instance:
[code]

Here where it gets too long to wait wh

[2021-06-28 21:23] cppforlife commented on #80
@iliazlobin i think it makes sense to add some kind of way to optimize download of same items, however, there isn't a simple way i can see it could be done (the failure mode here is that its very easy to screw cached state). if you want to take a shot at putting some impl ideas down, we could take a look at it and see how gnarly it gets.

[2021-06-30 19:39] #67 closed, assigned to nobody

[2021-06-30 20:25] meier-christoph commented on #68
Fixed by #70

[2021-06-30 20:26] #68 closed, assigned to nobody

[2021-07-01 17:13] ewrenn8 commented on #76
Fix included in `v0.21.0`

[2021-07-01 17:13] #76 closed, assigned to ewrenn8

[2021-07-05 02:01] adriens opened #83 "🎁 Write a post of a vendir usecase 🎁"
# Context

`vendir` 's features allow a lot of things, not only around kubernertes. It could be interesting to show how `vendir` can make things easier, and to make package software installation even smoother.

# Action

- Show how `vendir` can make APOC plugin installation easier in Neo4J (shox how to move away manual tasks)

[2021-07-05 02:03] adriens commented on #83
✅ Done

- [x] [DEV.to post](https://dev.to/adriens/deploy-neo4j-s-apoc-plugin-with-code-thanks-to-carvel-vendir-33l4)
- [x] [Tweet](https://twitter.com/rastadidi/status/1411864443567312907)
- [x] [linkedIn Post](https://www.linkedin.com/posts/adrien-sales_deploy-neo4js-apoc-plugin-with-code-thanks-activity-6817632342102962176-KwAj)

[2021-07-06 19:22] ewrenn8 commented on #80
I am going to add the carvel-accepted label here since it is something that makes sense to do.

[2021-07-06 19:57] ewrenn8 commented on #75
To clarify a few scenarios:

| -c | config in  -c dir | -f | result |
|---|-------------|---|-------|
| yes | no | no | error |
| yes | yes | no | use in dir |
| yes | no | yes | use -f |
| yes | yes | yes | use -f |
| no | - | - | do as before |

Does that line up with what you would expect in this cases?

[2021-07-06 20:30] ewrenn8 commented on #71
For clarification, do you mean if the configuration wasn't provided by the user and defaulted to false, or if it didn't even exist in the first place?

What I am seeing here is we will introduce a configuration that provides users the option to include legal paths when changing root, but that will default to false, so users need to be explicit that they want the legal paths preserved. Is that corr

[2021-07-06 21:38] ewrenn8 commented on #83
I just gave it a read, thanks for writing up a great post @adriens!

[2021-07-06 21:38] #83 closed, assigned to nobody

[2021-07-06 22:32] adriens commented on #83
You're very wlecome, thanks a lot for the tool 👏

BTW, I'm ready to transfer repo ownership, just let me know when you'd like me to perform the action

[2021-07-06 22:52] GrahamDumpleton commented on #75
Hmmm, that seems to complicate things unnecessarily, and doesn't capture the important thing about how relative paths are calculated with ``-f``.

My simple rule would have been that if ``-c`` is specified, change to that working directory first before evaluating any other options for paths.

Thus if you use ``-f`` as well, then any relative path supplied to it would then be evaluated relative to

[2021-07-07 05:17] adriens opened #84 "💡 Implement scoop 💡"
# Context

[Scoop](https://scoop.sh/) is a very popular windows distribution system, in the same philosophy of brew, but for windows. The cosystem is growing very fast, so the idea would to :

- [x] Create a first local running install of `vendir`
- [ ] Do it more widely through a central repo (like brew tap), which is called a [Scoop Bucket](https://github.com/lukesampson/scoop/wiki/Buckets)

**N

[2021-07-07 06:27] adriens commented on #84
Pull request under moderation on Scoop main repo :

https://github.com/ScoopInstaller/Main/pull/2411

[2021-07-07 06:28] adriens commented on #84
Badge :

[code]

![Scoop Version](https://img.shields.io/scoop/v/vendir)

[2021-07-09 15:32] jorgemoralespou commented on #14
Example (and discussion) demonstrating why this could be helpful: https://kubernetes.slack.com/archives/CH8KCCKA5/p1625843954329600?thread_ts=1625811418.324700&cid=CH8KCCKA5

[2021-07-14 15:04] dburgermeister opened #87 "Possibility to add custom headers for HTTP downloads"
**Describe the problem/challenge you have**
Some websites request to add specific HTTP headers, like for example API Token to access the files.
Currently it seems not possible to add those headers in the yaml file.
Example: wget -O <filename> --header="Authorization: Token *************" <url>

**Describe the solution you'd like**
Add a new field in the vendir.yaml configuration file for each head

[2021-07-16 10:39] WnP opened #88 "Mercurial support"
**Describe the problem/challenge you have**
We are using quite a lot [mercurial SMC](https://www.mercurial-scm.org/) and it would awesome to be able to clone our projects using vendir.

**Describe the solution you'd like**
It should be less or more a copy of git.go.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smil

[2021-07-21 09:23] NexZhu commented on #13
This is still happenning with 0.19.0 on Windows
[code]

[2021-07-21 09:24] NexZhu commented on #13
@cppforlife Can you reopen the issue?

[2021-07-21 11:40] sboardwell commented on #45
We were also bitten by this. @cppforlife - do you think we can create a small PR for this and get it into a release?

[2021-07-21 21:11] cppforlife commented on #88
@WnP im in favor of this. would you be interested in contributing support for this?

[2021-07-21 21:12] cppforlife commented on #87
@dburgermeister yeah that makes sense. we probably would want to pull them in from a secret since sounds like some headers might include sensitive information. would you be interested in contributing this?

[2021-07-21 21:37] cppforlife commented on #75
do we have some precedent in other tools to do something like this? tar does have -C that does something related.

[2021-07-21 22:19] jorgemoralespou commented on #75
There's many other tools that support this model as well as many that don't. Is it a requirement that other tools do the same or that is proven to be convenient?

[2021-07-27 21:20] cppforlife commented on #75
im just not familiar with any except tar. do you have some concrete examples (especially for commonly used tools)?

it's not a requirement, but it's definitely an important part of research. id like to see if other tools do it because -C affects all other flags that take in files. it also might be good to understand what makes vendir special as compared to other tools (i hope this wont be a patter

[2021-07-28 14:40] scottd018 commented on #71
I'm thinking that if the `legalPaths` is specified, the user MUST explicitly set `newRootIncludeLegal: true` in order to preserve the legal paths.  Otherwise the behavior is exactly as it exists today.

The one corner case that I'm juggling in my head is, what happens when the `newRootPath` includes the same document as the `legalPaths` does?  Should it error out?  Or should the `newRoothPath` doc

[2021-07-29 16:53] jorgemoralespou commented on #75
It's not so common because typically tools don't need to work relative to the current directory. Most tools do support specify the root of the "context" of where actions will take place. As an example, kubectl does this when you do `kubectl -f dir/sub-dir` and many other tools do follow this practice, but since vendir (like any of the other compressing tools, zip, ...) will take current dir as roo

[2021-08-02 00:08] #72 closed, assigned to nobody

[2021-08-03 13:56] WnP commented on #88
Hi @cppforlife,

Here is a simple mecurial - hg - implementation. feedback welcome!

[2021-08-03 14:04] WnP commented on #88
I guess we should remove the `.hg` folder - because it contains some sensitive information inside `.hg/hgrc`, like the authentication password.

it looks like it's done for the `.git` folder but I didn't see where in the code base.

[2021-08-03 14:15] cppforlife commented on #88
https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/git/git.go#L81-L86

[2021-08-03 15:27] WnP commented on #88
@cppforlife this remove the `authDir` which is something like `$PWD/.vendir-tmp/incoming/git-auth`, not the `$PWD/target/repo/path/.git` folder :thinking:

I've preserved this, but for mercurial I need to store the password as plain text in `.hg/hgrc`, it cannot be retrieved from another location - at least as far as I know.

[2021-08-03 15:29] WnP commented on #88
Maybe I should just remove it after fetching the repo, by the way we this can be done using `includePaths`. I not sure what should be done here.

[2021-08-03 15:41] WnP commented on #88
Well, I've found a way to pass the password using CLI arguments. I think it's a better approach.

Let me know your thoughts.

[2021-08-03 16:24] cppforlife commented on #88
not ideal to pass them as args since they will be visible in process tree. it seems that there is an env var HGRCPATH (https://stackoverflow.com/questions/12185048/mercurial-hg-pull-parameters-username-and-password/12187000#12187000).

[2021-08-03 17:07] cppforlife opened #92 "figure out how to integrate with sigstore/cosign to verify fetched content"
**Describe the problem/challenge you have**

would like to verify downloaded contents with https://github.com/sigstore/cosign:
- imgpkg bundle
  - pass down image digest
- OCI image (downloaded via imgpkg)
  - pass down image digest
- github release assets (see example of https://github.com/sigstore/rekor/releases/tag/v0.3.0)
- http file
  - sig files included in archive?

---
Vote on this request

[2021-08-04 20:35] WnP commented on #88
@cppforlife nice catch, I didn't know about this one. Let me refactor my code and update the pull request.

[2021-08-04 21:36] WnP commented on #88
@cppforlife I've published my changes.

Let me know your thoughts

[2021-08-11 20:23] joe-kimmel-vmw opened #93 "Support Multiple Secrets"
**Describe the problem/challenge you have**
We likely need to support multiple secrets as part of the packaging / secretgen / package repository auth work.

The code at : https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/imgpkgbundle/sync.go#L83
assumes only one secret.

**Describe the solution you'd like**
vendir is able to pass down multiple registry authentication cred

[2021-08-11 20:52] aaronshurley commented on #93
Thank you for surfacing this. I'm moving this to the top of the backlog since it's a blocker for the private registry authentication work.

[2021-08-13 11:48] WnP commented on #88
@cppforlife I've finish my changes on #91, I think everything is OK now.

Let me know if you want more changes.

[2021-08-13 13:58] #88 closed, assigned to nobody

[2021-08-13 17:46] cppforlife commented on #75
added --chdir flag: https://github.com/vmware-tanzu/carvel-vendir/commit/85f693d4ec1819b0024e5279b480d6299f7b1f04. will be included in upcoming release.

[2021-08-17 16:51] cppforlife commented on #75
included in https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.22.0

[2021-08-17 16:51] #75 closed, assigned to nobody

[2021-08-17 16:51] cppforlife commented on #93
included in https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.22.0

[2021-08-17 16:51] #93 closed, assigned to nobody

[2021-08-17 16:51] cppforlife commented on #45
included in https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.22.0

[2021-08-17 16:51] #45 closed, assigned to nobody

[2021-08-18 23:44] adriens opened #98 "🐦 Please Tweet about the v0.22.0 🐦"
Hi guys, could you please send a tweet about the [v0.22.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.22.0) release so I'll can retweet it ?

Thank you in advance for your help 🙏
Have a great week.
Adrien

[2021-08-19 14:43] cppforlife commented on #98
sorry, thats my bad. didnt notify @microwavables about the release.

[2021-08-19 20:32] adriens commented on #98
No worry @cppforlife , let's stay relax about that 😸 💟

[2021-08-19 22:34] microwavables commented on #98
Here ya go! https://twitter.com/carvel_dev/status/1428485539607597063?s=20

[2021-08-19 22:35] #98 closed, assigned to nobody

[2021-08-19 22:49] adriens commented on #98
Yep 🚀 https://twitter.com/rastadidi/status/1428489292528046083

[2021-08-23 00:08] #84 closed, assigned to nobody

[2021-08-25 16:56] pivotaljohn opened #100 "Build and install Apple Silicon-targeted versions of vendir"
see vmware-tanzu/carvel#218

Do it like we do for ytt.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and revi

[2021-08-31 01:57] gaurav-nelson opened #101 "How to effectively sync multiple directories ?"
I am trying to sync content from multiple directories from the same repository, however, when I use the following `yml` configuration, it fetches the repository all over again. Is there a better way to handle this?
[code]

The source repository is at https://github.com/gaurav-nelson/rhacs-docs

[2021-08-31 02:05] gaurav-nelson opened #102 "For faster sync, add option to only download a single branch"
**Describe the problem/challenge you have**
Currently, `vendir` takes long time to clone a repository. If I am after files from a specific branch it takes long time and it downloads unnecessary stuff I don't care about.

**Describe the solution you'd like**

Add an option to
- specify cloning depth
- only clone single branch

[code]

---
Vote on this request

This is an invitation to the community

[2021-08-31 06:06] dj-wasabi opened #103 "k14s/image does not include git binary (as used by vendir for fetching git repos)"
**What steps did you take:**
[A clear and concise description steps that can be used to reproduce the problem.]

Created a vendir.yml with the following contents:
[code]
Running docker pull to make sure running on latest docker image:
[code]

Then running vendir:
[code]
And I get the following output:
[code]

**What happened:**

Get an error message that git is not found in path, while i follow th

[2021-09-07 15:17] cppforlife commented on #103
hey @dj-wasabi. k14s/image does not include git (`exec: "git": executable file not found in $PATH (stderr: )`). it only includes base ubuntu image with carvel binaries pre-installed. if you want to use vendir with git, you either:
- install vendir into your own image that also has git
- install git into k14s/image (at runtime)
- base your new image on k14s/image and add git

[2021-09-07 15:18] cppforlife commented on #102
seems like a good suggestion. @gaurav-nelson would you be interested in contributing this change?

[2021-09-07 15:59] cppforlife commented on #101
@gaurav-nelson we currently did not include any optimization for fetching same repo multiple times. would be ideal but probably requires a bit of writing down how to best achieve it. do we just see that config is the same across multiple directories or do we introduce top level key called source that could be referenced by each directory?

[2021-09-08 01:00] gaurav-nelson commented on #102
Thanks @cppforlife I'm happy to contribute. However, I never tried to code in `go` before. If you can point me to the file where the cloning happens I can try it out, but it would be faster for someone who already understands how it all works.

Otherwise I can help test the changes and see if it works as intended and create docs for using this feature.

[2021-09-08 01:15] gaurav-nelson commented on #101
Surely there are multiple ways to handle  this, I like the idea of having top level source. So something like:
[code]

- Define a top level `sources` key which users can use to declare all supported sources `git`, `image`, `http`, `hg` etc.
- define a `source` key that can be used to link items to the declared sources.

OR

Have a top level source item and process all the directories for that item

[2021-09-08 07:17] dj-wasabi commented on #103
Thank you for your comment @cppforlife I'll probably go to the 2nd one or keep using the terrafile image.

[2021-09-08 23:29] ScriptAutomate opened #105 "Git errors occurring during the vendir-temp step, resulting in inability to troubleshoot"
**What steps did you take:**

When working with the following repo:
- https://gitlab.com/saltstack/open/docs/salt-user-guide

[code]

I have also tried setting up a fresh repo, and _not_ running `vendir sync` first. The `pre-commit` step still borks out.

**What happened:**

Output during `pre-commit` usage:

[code]

How [`pre-commit`](https://pre-commit.com/) config calls to `vendir` are done:

[

[2021-09-10 14:51] cppforlife commented on #105
@ScriptAutomate i cannot reproduce above. im guessing this is somehow related to your system setup. can you try reproducing this problem in a container or a vm to see if it still happens for you?

[2021-09-15 22:30] danielhelfand opened #106 "Support extracting username/password from base64 string under auth key for dockerconfigjson secrets"
**Describe the problem/challenge you have**

As outlined in https://github.com/vmware-tanzu/carvel-kapp-controller/issues/360, vendir should support extracting username/password as base64 encoded string under the auth key of a Kubernetes secret of dockerconfigjson.

Currently, only username/password are supported:

[code]

**Describe the solution you'd like**

vendir should support the following f

[2021-09-16 14:33] cppforlife commented on #106
being addressed in https://github.com/vmware-tanzu/carvel-vendir/pull/107

[2021-09-16 15:08] #103 closed, assigned to nobody

[2021-09-16 15:10] cppforlife commented on #102
cloning happens via this package: https://github.com/vmware-tanzu/carvel-vendir/tree/develop/pkg/vendir/fetch/git and configuration for git is here: https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/config/directory.go#L56. if you are available give it a go!

[2021-09-17 17:44] cppforlife commented on #106
included in https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.23.0

[2021-09-17 17:44] #106 closed, assigned to nobody

[2021-09-17 17:44] cppforlife commented on #105
feel free to reopen if more info can be provided.

[2021-09-17 17:44] #105 closed, assigned to nobody

[2021-09-17 21:17] adriens opened #109 "🐦 Please tweet about the v0.23.0 release 🐦"
Hi guys,

could you tweet about this latest release please ? 😺

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.23.0

Thanks in advance.

Have a nice week-end
Kind Regards,

Adrien

[2021-09-17 21:23] adriens commented on #109
https://github.com/adriens/chocolatey-vendir/issues/13

[2021-09-18 00:26] DennisDenuto commented on #109
cc @microwavables

[2021-09-21 17:04] microwavables commented on #109
@adriens done! https://twitter.com/carvel_dev/status/1440361189104447492?s=20

[2021-09-21 17:04] #109 closed, assigned to nobody

[2021-09-21 21:03] adriens commented on #109
Yop @microwavables : RT 👍 https://twitter.com/rastadidi/status/1440421396652249094

[2021-09-23 22:36] aaronshurley opened #111 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2021-09-27 15:30] voor opened #113 "Provide me with a machine parsable version in the vendir.lock.yml when githubRelease is used"
**Describe the problem/challenge you have**
I really love the `tagSelection` capability in vendir for `githubRelease`, it's the best and support for conditionals is really stellar.  I've started using it instead of `tag` after playing around with it for `imgpkgBundle`.  For `imgpkgBundle` I'll get what the semver resolved to in the lock file:

[code]

But then with `githubRelease` I don't get anyt

[2021-09-29 00:56] caphrim007 opened #114 "vendir succeeds when includePath list item does not exist?"
imho this is a bug, but I'm asking first in case this is a "functions as designed". If it is functioning as designed, then might I humbly request that design be revisited.

I have a config which is similar to what is shown below (git repos are different)

[code]

I can guarantee that there are files in the first list item (the k8s path). The other two paths I made up.

When I run `vendir sync`, th

[2021-10-01 17:39] cppforlife commented on #114
@caphrim007 currently that's intentional behaviour.

network hiccup would result in a much earlier failure at asset download time. includePaths/excludePaths are filters are all has been successfully downloaded.

making a mistake is definitely a possibility though. i dont think we can change default behaviour at this point; but, ill have to think about how to enhance this feature to provide you wit

[2021-10-01 17:41] cppforlife commented on #113
@voor that seems like an oversight when githubRelease was taught to be tagSelection friendly. seems like a reasonable thing to add.

[2021-10-07 22:04] DennisDenuto opened #115 "vendir doesn't fallback to using docker config.json"
**What steps did you take:**

1. docker login
1. create config.yml with the below contents:
[code]

[code]

**What happened:**
error:

[code]

**What did you expect:**
Succeed

**Anything else you would like to add:**
from slack: https://kubernetes.slack.com/archives/CH8KCCKA5/p1633634540059000

**Environment:**

- vendir version (execute `vendir --version`): 0.23.0
- OS (e.g. from `/etc/os-releas

[2021-10-07 23:23] caphrim007 opened #116 "vendir capable of sync'ing files to its current-working-directory"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
i want to compose together a single repo using bits from other repos.

Among those other bits are top-level files like .pre-commit-config.yaml, .tflint, .isort, etc

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual r

[2021-10-15 08:29] jvalkeal opened #117 "sort-semver skip numeric identifiers over unsigned long"
**What steps did you take:**
If semver identifier in a metadata contains only numeric characters and if that "number" exceeds unsigned long (18,446,744,073,709,551,615), tools simply ignores that version.

[code]

**What happened:**
Version is ignored

**What did you expect:**
Expecting metadata identifier to work with any alphanumeric characters

**Environment:**

- vendir version 0.23.0
- OS Ubu

[2021-10-18 16:32] pivotaljohn opened #118 "Failed to `go get` 0.20.0 on checksum mismatch"
**What steps did you take:**
Attempting to build `kbld` built against newer version of `vendir` (i.e. 0.22.0)

**What happened:**
`go get` failed on mismatched checksum
https://github.com/vmware-tanzu/carvel-kbld/pull/180/checks?check_run_id=3922769761

**What did you expect:**
Expected checksums to match.

**Environment:**
- vendir version (execute `vendir --version`): 0.22.0

---
Vote on this re

[2021-10-18 16:34] #118 closed, assigned to nobody

[2021-10-18 16:34] pivotaljohn commented on #118
Issue moved to [vmware-tanzu/carvel-imgpkg #280](https://github.com/vmware-tanzu/carvel-imgpkg/issues/280) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-20 14:56] #111 closed, assigned to nobody

[2021-10-20 14:59] cppforlife commented on #101
sources with a top level key seems like a right idea imho, though with slight modifications:

[code]

[2021-10-22 22:33] cppforlife commented on #117
im guessing uint64 is used in underlying library (e.g. `constant 18446744073709551616 overflows uint64` type of error). im actually not quite sure if we _should_ do anything about this given practical limitations of how numbers are stored.

@jvalkeal what was your use case for using such large numbers. are they based on timestamps?

[2021-11-22 00:10] #115 closed, assigned to DennisDenuto

[2021-11-30 12:01] redbaron opened #122 "Add support for unpackArchive to http"
**Describe the problem/challenge you have**

http method can download file, but it wont archive it automatically. Some binaries are distributed in archives, like https://www.terraform.io/downloads.html and these are currently not very usable with vendir

**Describe the solution you'd like**

Add support for an optional `http.unpackArchive` similar to how it works in `githubRelease`

---
Vote on th

[2021-11-30 15:18] danielhelfand opened #123 "blang/semver ParseRange fails to handle prereleases containing x"
**What steps did you take:**

Run `vendir tools sort-semver -v '1.1.0 1.1.1' --constraint '1.1.0-fox'`

**What happened:**

[code]

**What did you expect:**

The version `1.1.0-fox` should be a valid semver version and not result in the error above.

**Anything else you would like to add:**

This error can be traced back to the `blang/semver` library used by vendir: https://github.com/vmware-tanzu

[2021-12-02 21:27] danielhelfand opened #124 "blang/semver only splits prerelease based on ."
**What steps did you take:**

 Running the following results in an incorrect sort of prerelease versions:

[code]

Running the following results in the correct sort of prerelease versions:

[code]

**What happened:**

This appears to be an issue with the blang/semver library: https://github.com/blang/semver/blob/4487282d78122a245e413d7515e7c516b70c33fd/v4/semver.go#L314.

It is used in vendir here

[2021-12-03 04:01] danielhelfand commented on #124
Per the following line in the [semver standard docs](https://semver.org/#spec-item-9):

Under the examples more can be found here:

So the correct format for the versions listed above should be `0.4.0-build.10.-.foo 0.4.0-build.9.-.foo`. If implemented this way, the sorting works as expected.

Even though this is an odd result, the library is correctly parsing/sorting the version as expected.

[2021-12-03 04:01] #124 closed, assigned to nobody

[2021-12-23 17:23] joaopapereira opened #126 "When tests fail examples/ gets polluted (currently intentional)"
I was running the tests e2e test TestExamplesDir from the IDE or all tests using `hack/test-e2e.sh` and when the `hg` example test failed this is what the git repository looked like:

<img width="601" alt="Screen Shot 2021-12-23 at 11 19 34 AM" src="https://user-images.githubusercontent.com/1826130/147273236-255cca19-3cba-4534-9414-529e326aeebb.png">

The e2e tests should avoid changing the code's

[2022-01-07 22:04] frizzr opened #127 "Is a Windows version of vendir available?"
Although you list having a windows version of vendir, when you go to download it from the Releases page, it always fails with a 403 Forbidden.

Is it just not available or is this just a bug in your releases page?

[2022-01-10 00:28] redbaron commented on #122
still relevant

[2022-01-10 19:15] cppforlife commented on #127
i just clicked on the link from https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.24.0 and downloaded successfully. may be there were some github outages -- not sure?

[2022-01-11 17:17] frizzr commented on #127
I'll close this for now. I believe this could be a proxy/VPN issue at our company. It works from our office but not remotely.

[2022-01-11 17:17] #127 closed, assigned to nobody

[2022-01-18 15:30] benmoss commented on #100
What's the release process for this repo? I see [imgpkg uses GoReleaser](https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/.goreleaser.yml), but it seems we don't

[2022-01-18 15:38] danielhelfand commented on #100
It's currently a manual process: 1. Bump the version constant used 2. Create a tag for the release. 3. Locally, run `./hack/build-binaries.sh` 4. Upload the binaries to a GitHub release through the UI 5. Write release notes

There is an open pr for automating in a similar way to imgpkg: #108. However, there are also some thoughts about moving away from goreleaser for Carvel releases as well.

[2022-01-18 16:25] danielhelfand opened #128 "hg example requires a lot of maintenance due to using main branch of repository"
The [hg example](https://github.com/vmware-tanzu/carvel-vendir/tree/3200f3fb11c2ee657a79516b0f1046b83d4bc44f/examples/hg) regularly needs to be updated since it uses the default branch of this source hut repository: https://hg.sr.ht/~sircmpwn/hg.sr.ht. This can be confusing for contributors/maintainers to vendir.

CI fails frequently since the latest commit and sha change for the default branch of

[2022-01-18 20:13] cppforlife commented on #128
closed via above PR.

[2022-01-18 20:13] #128 closed, assigned to nobody

[2022-01-18 20:15] cppforlife commented on #126
behaviour is currently intentional. it was the easiest to implement. open to ideas how to improve it as a PR.

[2022-02-15 18:02] neil-hickey commented on #40
https://github.com/vmware-tanzu/carvel-vendir/pull/104

[2022-02-15 18:02] #40 closed, assigned to nobody

[2022-02-15 20:36] #126 closed, assigned to benmoss

[2022-02-24 16:55] bcdurden opened #137 "OpenSSH-generated private keys do not work in App CR"
When creating an App object using a ssh-git source and ssh private key, if the key was generated using openssh (default on MacOS as of this date) then it will fail complaining of key formatting.
[code]

[2022-02-24 16:58] benmoss commented on #137
What are the headers of your private key? Like `-----BEGIN OPENSSH PRIVATE KEY-----` or what?

A repro of this would be helpful.

[2022-02-24 17:35] benmoss commented on #137
Ah, I see the [thread on Slack](https://vmware.slack.com/archives/CUK1X0Z8Q/p1645719722817759) mentions that it is `-----BEGIN OPENSSH PRIVATE KEY-----` and that appears to be the problem

[2022-02-25 16:00] bcdurden commented on #137
Yes, sorry I should have been more specific. That header is specifically what triggers it I believe. When I switched to something with `-----BEGIN RSA PRIVATE KEY-----` it worked

[2022-02-26 00:13] #122 closed, assigned to nobody

[2022-03-05 01:25] adriens opened #139 ":bird: Please tweet about v0.24.0 :pray:"
Hi, can you please tweet about [v0.24.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.24.0) so I can rewteet to announce its release on choco cf https://github.com/adriens/chocolatey-vendir/issues/14 :grey_question:

Thanks in advance.
Have a nice Week-end :smile_cat:

[2022-03-07 20:37] adriens opened #140 "🐦 Please tweet about v0.25.0 🙏"
Hi guys, can you please tweet about [v0.25.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.25.0) so I can RT it cf https://github.com/adriens/chocolatey-vendir/issues/15 ❔

Thanks in advance, have a great week 🙌

[2022-03-10 23:17] adriens commented on #140
As the [v0.26.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.26.0) has been released, [I've tweeted](https://twitter.com/rastadidi/status/1502060746645114885)

[2022-03-10 23:17] #140 closed, assigned to nobody

[2022-03-11 00:22] #139 closed, assigned to nobody

[2022-03-11 00:22] adriens opened #142 "🐦 Please tweet about v0.26.0"
So I can RT it for https://github.com/adriens/chocolatey-vendir/issues/16 🙏

[2022-03-12 22:16] joshrosso opened #143 "Create linux-arm64 binaries"
For linux-arm users along with supporting:

* https://github.com/vmware-tanzu/carvel-kapp-controller/issues/573

[2022-03-14 20:34] adriens commented on #142
Tweets cf https://twitter.com/rastadidi/status/1503469567942692864

[2022-03-14 20:34] #142 closed, assigned to nobody

[2022-03-15 15:01] microwavables commented on #142
Sorry @adriens I was OOO since Thursday. Thanks!

[2022-03-15 15:29] benmoss commented on #143
It looks like we already have linux-arm64 releases for this repo
<img width="862" alt="Screen Shot 2022-03-15 at 11 28 58 AM" src="https://user-images.githubusercontent.com/239754/158412964-54f4136c-e501-44eb-adb3-7ef281438b99.png">

[2022-03-15 18:39] joshrosso commented on #143
oops, ty.

[2022-03-15 18:39] #143 closed, assigned to nobody

[2022-03-15 23:54] adriens commented on #142
No worries @microwavables 💟

[2022-03-29 21:55] neil-hickey opened #144 "helmChart fetch broken for OCI source repositories"
This is a duplicate tracking issue for https://github.com/vmware-tanzu/carvel-kapp-controller/issues/588

[2022-03-30 15:34] voor opened #145 "githubRelease options should support downloading the source archive"
**Describe the problem/challenge you have**
Currently github releases also include the source archive for the given tag.  Examples:
https://github.com/vmware-tanzu/carvel-vendir/archive/refs/tags/v0.26.0.tar.gz
https://github.com/vmware-tanzu/carvel-vendir/archive/refs/tags/v0.26.0.tar.gz

These are listed as `Assets` on the GitHub GUI, but are unable to be added to `assetNames` in the `githubRele

[2022-04-08 16:40] voor opened #147 "Ability to do a find/replace on resulting tags prior to sorting"
**What steps did you take:**
[code]
[code]

**What happened:**
Nothing is properly detected as semantic versioned.

**What did you expect:**
Replacing `+` with `_` is a common change since container tags cannot have a + in them.  In fact most systems (like containerd) will actually replace the + into a _ for you.

[code]
[code]

**Anything else you would like to add:**
I don't want to solutionize

[2022-04-13 06:04] GrahamDumpleton commented on #47
In light of changes in `imgpkg` to preserve permissions bits as per original intent I believe it is time that `vendir` got similar treatment. People use `imgpkg` and `vendir` for uses beyond just packaging up Carvel `ytt` resources. For example, for general application packaging/aggregation, where keeping execute bits is very important. Not having the ability to preserve execute bits limits the us

[2022-04-13 06:07] GrahamDumpleton opened #148 "Ability to set file mode for inline files."
**Describe the problem/challenge you have**

I want to be able to do:

[code]

where `script.sh` needs to have execute file mode permissions when created.

At the moment it is always created with only `rw-` permissions.

**Describe the solution you'd like**

Like how in Kubernetes when mounting config maps it is possible to specify a `defaultMode` with a umask, would like something similar.

[code

[2022-04-13 06:12] GrahamDumpleton opened #149 "Unpacking imgpkg image and bundle should restore group/other."
**Describe the problem/challenge you have**

When using `image` and `impkgBundle`, want unpacked files to have group/other permissions restored, with umask applied as appropriate if using owner permissions.

**Describe the solution you'd like**

Want changes made to support:

* https://github.com/vmware-tanzu/carvel-imgpkg/issues/349

applied to `vendir` usage as well.

If `vendir` runs `imgpkg` c

[2022-04-13 06:49] GrahamDumpleton opened #150 "Add option to unpack archive downloaded when using "http"."
**Describe the problem/challenge you have**

When downloading archive file using `http` I need the archive file to be automatically unpacked.

**Describe the solution you'd like**

The `githubRelease` option has `unpackArchive` for something similar although in that case you need to designate the file to unpack. In the case of `http`, there is only the one asset file so could get away with a singl

[2022-04-13 07:02] GrahamDumpleton commented on #150
Note, it would be required that when unpacking the archive that the option exists to preserve execute bits.

Of note, when unpacking an archive from a `githubRelease` this doesn't happen, although there is a similar requirement for it as well to allow execute bits to be preserved.

* https://github.com/vmware-tanzu/carvel-vendir/issues/47

[2022-04-13 07:10] GrahamDumpleton opened #151 "If set legalPaths explicitly to empty list that should override defaults."
**What steps did you take:**

Set:

[code]

Then set other rules to ensure that a `LICENSE` file shouldn't be included. Eg.,

[code]

or:

[code]

**What happened:**

The `LICENSE` file was still included.

**What did you expect:**

It seems that `vendir` does not distinguish between `licensePaths` being unset (ie., null) and being set to an empty list.

If `licensePaths` is not set then it is fai

[2022-04-13 16:48] joe-kimmel-vmw commented on #145
Thanks @voor --  it seems like we'd have to introduce new flexibility around [how we build the url](https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/githubrelease/sync.go#L77).

@cppforlife  is this feature in scope for vendir, given that there's a workaround of "just use git" ?

[2022-04-13 16:50] joe-kimmel-vmw commented on #148
Thanks @GrahamDumpleton!

[2022-04-13 16:53] joe-kimmel-vmw commented on #149
per discussion in [OSS slack](https://kubernetes.slack.com/archives/CH8KCCKA5/p1649825240800169), this should be fixed by imgpkg changes alone.

[2022-04-13 16:53] #149 closed, assigned to nobody

[2022-04-13 17:00] joe-kimmel-vmw commented on #147
Thanks @voor  - it seems like the library we're using is enforcing the [semver 2.0.0 BNF grammar](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions) which includes the `+` as you show above, and `-` (hyphens) (to designate prereleases) but not underscores.

[2022-04-13 17:03] joe-kimmel-vmw commented on #150
Thanks @GrahamDumpleton !  it sounds like preserving the execute mode bits could present some stumbling blocks but we'll leave that to the initial implementation exploration.

[2022-04-13 17:06] joe-kimmel-vmw commented on #151
thanks @GrahamDumpleton

[2022-04-16 22:05] GrahamDumpleton commented on #148
Adding this here and not as a separate issue as falls under same umbrella, but this ability to set file mode also needs to apply to files introduced from secrets or config maps using `inline.pathsFrom`.

[code]

[2022-04-27 21:57] #151 closed, assigned to nobody

[2022-04-29 01:12] adriens opened #156 ":bird: Please Tweet about v0.27.0 release :pray:"
Hi, could you please tweet about [v0.27.0](https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.27.0) so I can RT it cf https://github.com/adriens/chocolatey-vendir/issues/17 :grey_question:

[2022-04-30 10:58] voor commented on #147
I've updated the title to reflect what I actually need.  If I remove the `_vmware.1` part from the versions then sorting can proceed:

[code]

I need some sort of find/replace capability on the versions prior to attempting sorting.  Whether that's changing _ to +, or in my case removing a chunk of erroneous text from the versions.

[2022-05-02 13:11] benmoss opened #157 "Support fetching artifacts by OS & architecture"
**Describe the problem/challenge you have**
I want my project to run on different platforms and so depending on which platform I am building for I want to download different artifacts.

For example, [this vendir.yml](https://github.com/vmware-tanzu/carvel-vendir/blob/d115f5e139311531fcc6843eeca2921299edf751/examples/github-release/vendir.yml#L52) pulls in `kubectl` for linux/amd64.

**Describe the

[2022-05-04 02:20] adriens commented on #156
Hi guys, any chance to have a Tweet :pray: :grey_question:

[2022-05-05 18:14] neil-hickey commented on #156
thanks for the prompt @adriens ! We went ahead and tweeted:

https://twitter.com/carvel_dev/status/1522278250327818240?s=20&t=_YeTd3n8j_5tOpU33XmYhg

[2022-05-05 18:14] #156 closed, assigned to nobody

[2022-05-05 18:15] microwavables commented on #156
@adriens feel free to tag me directly if I miss a tweet! :)

[2022-05-05 20:47] adriens commented on #156
:ok_hand: , just RT it https://twitter.com/rastadidi/status/1522317063326339072 :smile_cat:

[2022-05-08 02:40] andrewrothstein opened #158 "v0.27.0 artifacts missing checksums.txt"
**What steps did you take:**
Look here: https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.27.0

**What happened:**
checksums.txt missing

**What did you expect:**
A checksums.txt file

**Anything else you would like to add:**
Build looks like it uploaded it here: https://github.com/vmware-tanzu/carvel-vendir/runs/6217727740?check_suite_focus=true#step:4:241

**Environment:**

- vendir

[2022-05-09 20:09] joaopapereira commented on #158
Fixed it by adding to the release the missing checksums file.

[2022-05-09 20:09] #158 closed, assigned to nobody

[2022-05-09 20:53] cppforlife commented on #157
may be also would be good to scope `{os}`/`{arch}` to something like `{vendir.os}`/`{vendir.arch}`, since in the example of githubRelease+http, tag is derived from that "local" context of githubRelease.

probably also makes sense to have `binary{vendir.os_ext}` so that on windows it's `.exe` vs on linux nothing.

[2022-05-10 19:23] cppforlife commented on #157
interesting questions on this topic:
- vendir.lock.yml relationship to what os/arch is set
- how are values os/arch are set: auto, manually
- should vendir have rename functionality (e.g. ytt-darwin-amd64 => ytt)

[2022-05-13 17:34] joaopapereira opened #160 "Cache image and bundle contents"
**Describe the problem/challenge you have**
Implementation of https://github.com/vmware-tanzu/carvel-kapp-controller/issues/664

Allow the users to cache the contents of an image or bundle

**Describe the solution you'd like**
Depending on the path forward defined in https://github.com/vmware-tanzu/carvel-imgpkg/issues/390 vendir will need to change the way it invokes imgpkg.

In terms of UX for v

[2022-05-17 12:57] cppforlife commented on #160
since caching is an implementation detail and is closely tied to the environment where vendir is running, i dont think it makes sense to have configuration within vendir.yml. i think more inline with other unixy tools is to configure cache location via an environment variable e.g. `VENDIR_CACHE_DIR`.

[2022-05-17 20:21] #145 closed, assigned to nobody

[2022-05-17 20:24] voor commented on #144
Just want to point out that you can use `image` to get a Helm OCI chart.

[2022-05-30 17:30] mymasse opened #162 "Allow ability to not initialize git submodule"
**Describe the problem/challenge you have**

We use `vendir` in an air-gapped network and have run into an issue where one repository we are trying to vendor uses git submodules. When `vendir sync` is run it tries to initialize all submodule but in our case that submodule is not available (and we actually don't need it since with also use `includePaths`).

This issue in question is from https://gi

[2022-06-08 18:07] cppforlife commented on #162
PR is merged, will be in the next release.

[2022-06-09 16:36] #162 closed, assigned to DennisDenuto

[2022-06-16 01:06] ggillies opened #164 "vendir does not respect existing environment variables"
**What steps did you take:**
Two scenarios
1) Setup environment/use [asdf-vm](https://github.com/asdf-vm/asdf) as a package manager for tools used by vendir (helm, git, etc).

~~2) Setup specific git authentication setup inside CI job (e.g. `export GIT_SSH_COMMAND="ssh -i $SSH_PRIVATE_KEY -o IdentitiesOnly=yes -o GlobalKnownHostsFile=$SSH_KNOWN_HOSTS"`) in which vendir will run, hoping it will use

[2022-06-16 01:09] ggillies commented on #164
I understand we can specify some Git auth options using a secret object and refencing it in `vendir.yml`, but this isn't the best solution for me as we have differing git auth setups for local workstatiosn VS ci. I would really like to just setup ssh/git outside of vendir and have it just work transparently with that.

[2022-06-16 15:24] voor opened #165 "Empower vendir to make an informed decision on what the overall semver of a directory is"
**Describe the problem/challenge you have**
After I sync things with vendir and create my informed view of a folder I need to make a decision later on about what overall semantically appropriate version this folder is.  Today I do that with some `yq` glue:

[code]

This is later surfaced with the Carvel Packaging API, since it requires semver to properly function.

**Describe the solution you'd li

[2022-06-16 17:51] cppforlife commented on #164
@ggillies interesting, are you setting auth options which makes this code [0] set GIT_SSH_COMMAND itself.

https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/git/git.go#L91-L117

(if not, we do just propagate env variables to git.)

[2022-06-17 00:03] ggillies commented on #164
@cppforlife ah thanks for that link, looking at the code I see if I remove all secret related stuff from `vendir.yml` it works as expected for the ssh auth options.

[2022-06-21 14:57] cppforlife commented on #164
@ggillies is that an acceptable configuration or you were looking for some kind of combination of providing secret related stuff in vendir.yml _and_ specifying additional configuration via env var?

[2022-06-21 23:55] ggillies commented on #164
@cppforlife I think this is acceptable for my use case, however I have updated the issue description to make it clear there is an outstanding issue when using [asdf-vm](https://github.com/asdf-vm/asdf) which I believe might also be related. However I am happy to change this issue if we feel this is wrong.

[2022-06-22 16:56] cppforlife commented on #164
hmm, can you provide any additional detail. are you seeing an error, or something else?

[2022-06-28 21:48] #144 closed, assigned to DennisDenuto

[2022-06-28 22:55] ggillies commented on #164
Apologies for not replying sooner.

Steps to reproduce

1) Install and setup [asdf-vm](https://github.com/asdf-vm/asdf)
2) create a new empty directory
3) Run
[code]
4) Note the following error
[code]
The message about reshim comes from asdf, and typically indicates the shell environment (which asdf relies on heavily) has changed in some way to break it

[2022-06-28 23:13] ggillies commented on #164
If I am reading https://github.com/vmware-tanzu/carvel-vendir/blob/aa2ac34a1f46b8664b1d9b4da05b969322f09cb1/pkg/vendir/fetch/helmchart/http_source.go#L46-L63 correctly, it looks like almost all environment variables are not preserved in the helm execution, including `PATH`? Is there a specific reason vendir does this?

[2022-06-29 17:30] cppforlife commented on #164
specifically for helm, yes, since we wanted to have a somewhat reproducible execution of helm binary. we may want to relax it to include HELM_* env vars though.

this is an interesting error since go os.Exec uses vendir's PATH env var (not the env vars passed to the command) to look up comands on path, so im not sure why helm would not be found. how does your PATH env var look like?

[2022-06-29 17:37] cppforlife commented on #164
(trying to repro...)

[2022-06-29 17:49] cppforlife commented on #164
yup, looks like asdf relies on other env vars (which is somewhat surprising). let me relax the constraints here.

[2022-06-29 23:14] cppforlife commented on #164
https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.28.0 should have the fix. @ggillies if you dont mind double checking.

[2022-06-29 23:29] ggillies commented on #164
@cppforlife thanks so much for taking a look at this! Unfortunately trying v0.28.0 still seems to have the same issue :(

[code]

[2022-06-30 17:16] cppforlife commented on #164
hmm, im not sure how it was working yesterday when i tried it out with the fix... boiled it down to the problem with asdf not liking when HOME directory is changed (from where it was installed?).

[code]
taking another shot... https://github.com/vmware-tanzu/carvel-vendir/pull/170

[2022-07-01 17:48] cppforlife commented on #100
i think this is resolved since we have vendir-darwin-arm64

[2022-07-01 17:48] #100 closed, assigned to nobody

[2022-07-07 17:07] cppforlife commented on #164
another run at this: https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.28.1

[2022-07-07 22:36] adriens opened #171 ":bird: Please Tweet about v0.28.1 :pray:"
So I can RT it when https://github.com/adriens/chocolatey-vendir/issues/19 is :ok:

[2022-07-08 16:07] neil-hickey commented on #171
@microwavables

[2022-07-11 10:23] voor opened #172 "Support tilde in semver constraints"
**Describe the problem/challenge you have**
I want to support 1.2.x for a given version, including pre-releases, but given something like this:

[code]

It's hard to figure out where to put the <, since `1.3.0-build.x` is considered less than 1.3.0

[code]
Changing it to something like:
[code]
Causes you to miss the high numbers of `1.2.x`.

**Describe the solution you'd like**
`~` exists in sever

[2022-07-12 18:04] #171 closed, assigned to nobody

[2022-07-12 22:02] adriens commented on #171
:pray: :gift_heart: :rocket: :people_holding_hands:

[2022-07-13 17:16] cppforlife commented on #164
@ggillies im going to assume it worked. feel free to reopen otherwise.

[2022-07-13 17:16] #164 closed, assigned to nobody

[2022-07-18 00:44] ggillies commented on #164
@cppforlife sorry for not replying sooner, I was away from my computer for a few weeks. https://github.com/vmware-tanzu/carvel-vendir/pull/170 fixed the issue for me, thanks again!

[2022-07-18 06:09] yeahdongcn opened #174 "Function tryTarWithGzip (carvel-vendir/pkg/vendir/fetch/archive.go) loses link/symlink/mode/UID/GID/etc. in extracting .tar and .tar.gz files"
**What steps did you take:**
[A clear and concise description steps that can be used to reproduce the problem.]
Fetch a `tar` file through `HTTP` through `DirectoryContents` config, everything works as expected except the extracted file contents are different from `tar xvf <<path-to-tar-file>>`.

**What happened:**
[A small description of the issue]
`.tar` or `.tar.gz` file are extracted but the c

[2022-07-18 06:11] yeahdongcn commented on #174
Just checked the implementation, `tryTarWithGzip` only handles `tar.TypeReg`.

[2022-07-18 18:53] cppforlife commented on #172
hmm, this is a toughie. any thoughts on relationship of `~1.2` and prereleases. are they included?

[2022-07-18 19:02] voor commented on #172
Since the original use case is to avoid the prereleases of the version found in 1.3, I would say they should be included ideally.

[2022-07-26 18:31] cppforlife commented on #174
@yeahdongcn yeah this was meant to be an implementation that covers majority of use cases and remains simplest. i think we would be open to a PR to enhance it but i would probably ask for an opt-in to enable this feature (as some kind of a configuration option on http section)

[2022-07-27 09:21] voor commented on #165
/remove-stale

[2022-07-27 15:21] joaopapereira commented on #165
Not sure I fully understand the use case. Let me try to paraphrase it to see if I got your problem.
You are using vendir to sync a folder.
In some situations, you have a file called `version-override.yml` that contains a field called tags that will contain the semver version of the current folder.
In other situations, you will have to find the tags inside the `vendir.lock`

You use this value when

[2022-07-28 09:51] voor commented on #165
This is more heavily involved in 2 in your above commands.  The Package CR is going to be created elsewhere by the `kctrl pkg release` stuff.  Except for `kctrl` to work it needs a guarantee that it's getting a semver acceptable value (otherwise it'll fail).  The connecting point here is that `vendir` can effectively provide that guarantee since it knows the contents of what will ultimately go int

[2022-07-28 10:51] voor commented on #165
Massive bonus points and make this a significantly more pleasurable experience if the `default-version` could be declared somewhere inside the vendir spec file so it doesn't need to be a cli argument.

[2022-07-28 14:56] joaopapereira commented on #165
I think I understand better now what you are asking for.

What would you expect vendir to return if the lock file contains multiple folders with tags? Something like this:
[code]

[2022-07-28 16:39] voor commented on #165
`some-tag` is not valid semver, so it would be discarded, and you'd be left with just 4.0.0.

I imagine some sort of iterative logic for a "MVP" would suffice -- go through the lock file's contents of tags and tag and find the first semver valid one, or failover to the default if nothing is found.

[2022-08-09 22:03] seanorama opened #176 "Support s3:// protocol"
**Describe the problem/challenge you have**

Need to fetch artifacts from AWS S3 buckets.

We, and our vendors, distribute artifacts with S3. Some buckets are secured so can't be accessed anonymously via the `https://` path.

**Describe the solution you'd like**

Support `s3://` like this:

[code]

It should use the AWS SDK, such that it automatically uses the authentication from the environment (

[2022-08-11 17:49] cppforlife commented on #176
@seanorama that sounds like a good feature. any interest in giving it a shot?

[2022-08-16 18:26] joaopapereira commented on #160
Updated use cases to ensure we reflect the usage of environment variable @cppforlife

[2022-08-26 06:26] mamachanko opened #179 "Publish `v0.30.0` through the Carvel Homebrew tap"
[vmware-tanzu/homebrew-carvel](https://github.com/vmware-tanzu/homebrew-carvel) contains `v.0.29.0`

[2022-08-26 15:23] joaopapereira commented on #179
Jun rerun the release automation, vendir should be updated on all fronts.
Feel free to reopen if that is not the case

[2022-08-26 15:23] #179 closed, assigned to nobody

[2022-08-26 15:28] joaopapereira commented on #165
Sorry I dropped the ball on this issue.

The iteration and retrieving the first semver seems like a very error prune way to handle this, because it forces the user who created the Config to order the directories in a specific way, it almost feels like there should be a root level parameter that you can fill up the version on, something like:

[code]

If we just rely on a first found semver that in

[2022-08-26 15:34] joaopapereira commented on #172
Sorry was reading this issue and I think I did not follow 100%. Are you suggesting that the output of
`vendir tools sort-semver -v "1.1.1 1.1.2 1.2.0 1.2.10-build.1 1.2.10 1.2.100-build.20 1.2.100 1.3.0-build.1 1.3.0-build.2" -c "~1.2" --prerelease --prerelease-identifier "build"`
would be
[code]

But if you did
`vendir tools sort-semver -v "1.1.1 1.1.2 1.2.0 1.2.10-build.1 1.2.10 1.2.100-build.20

[2022-08-26 15:40] mamachanko commented on #179
@joaopapereira it works! ❤️ `vendir`

[2022-08-26 15:42] voor commented on #172
Yes, you got it.

[2022-08-26 17:30] joaopapereira commented on #172
Looks like an interesting addition.

For implementation sake, we will have to change the library https://github.com/k14s/semver in order to have support for the `~` operator

[2022-09-01 15:06] joaopapereira commented on #14
I was looking into this issue and I was a little bit confused by the names. My suggestion of a possible UX is:
[code]
I feel like giving a little bit more structure to the configuration, at least to me, helped better understand what each option was. What do yll think?

[2022-09-01 15:47] joaopapereira commented on #165
let me know if my suggestion make sense

[2022-09-01 16:10] voor commented on #165
Could you templatize the root version to get it's entry from another one?

[2022-09-13 22:04] #160 closed, assigned to joaopapereira

[2022-09-14 22:21] adriens opened #183 ":bird: Please tweet about v0.31.0 release :pray:"

[2022-09-14 22:22] adriens commented on #183
related to https://github.com/adriens/chocolatey-vendir/issues/22

[2022-09-14 23:06] adriens commented on #183
https://twitter.com/carvel_dev/status/1570183700637446145

[2022-09-14 23:06] #183 closed, assigned to nobody

[2022-09-14 23:06] adriens commented on #183
Thanks guys :people_holding_hands:

[2022-09-15 17:58] zoop-btc opened #184 "clearer error message if path for githubrelease archive does not exist"
**What steps did you take:**
I tried to unpack a github release with the wrong archive name. Here is a vendir.yaml file to replicate:
[code]

**What happened:**
You get the error:

  Syncing directory 'github.com/cloudfoundry-incubator/eirini-release' with github release contents:
    Expected known archive type (zip, tgz, tar)

**What did you expect:**
An error message which tells me that the spe

[2022-09-16 13:32] mamachanko commented on #157
+1 to this

[2022-09-28 15:20] joaopapereira commented on #165
I think we could definitly try and do some sort of jsonpath to have some templating of that version. Something like:
[code]

This might increase the scope of this story a little bit. @kumaritanushree  since you are going to pick up this work, please take a look at this templatization idea, if you feel like it is going to be a big chunk of work, let us know and we can split it into a different stor

[2022-09-28 16:18] hoegaarden opened #186 "`vendir` should retain directory permissions"
**Describe the problem/challenge you have**
`vendir` by default seems to generate directories with `0700` permissions. When I want to allow other users access to the `vendir`ed directories, I can e.g. do a `chmod 0750` on them. This however will be set back to `0700` on the next `vendir sync` again.

<details><summary>example shell session</summary>

[code]

</details>

**Describe the solution you

[2022-09-29 14:46] joaopapereira commented on #186
As @kumaritanushree pointed out in slack this sounds like an interesting property to add to the configuration. In your example it would be something like:
[code]

Do you think this option would help in your use case?

[2022-09-30 08:09] hoegaarden commented on #186
That would help, but I think we'd need the same for the "outer directory":

[code]

Ideally, I think I'd (in addition?) want vendir to use the same permissions I've set to the directories, because I e.g. ran `chmod` after the first `sync`. Now I have no clue about the implementation and how feasible/doable that would be (e.g. collecting the permissions before running the `sync` / overwriting the d

[2022-09-30 11:44] kumaritanushree commented on #165
Sure @joaopapereira , will have a look into this in detail and get back to you soon.

[2022-09-30 14:54] joaopapereira commented on #186
Make sense do you think it is useful to have permissions on both levels or only the main would be enough?

Do you mean that if you set the permission on the top level to 744 all the files and directories underneath it would have the same 744 permission?
If we do this the result will always be the same, so I would say you can predict the outcome. My main concern would be that this could remove exec

[2022-10-03 10:21] hoegaarden commented on #186
I _think_ there might be cases where you want them do be different. E.g. allowing access to one `path` for your unpriv'ed code scanner but not allowing access to the other `path`, because there are somewhat sensitive things in there? For that, I'd still need access to the directory be somewhat open, but have means to limit access to the `path`?
E.g.:
[code]
Somewhat of a contrived example, but I c

[2022-10-03 15:31] joaopapereira commented on #186
I think I understand your example for the multi-layer permissions and makes sense to me.

If I do a chmod on vendir_vendor or vendir_vendor/sub_dir, vendir should keep those permissions. It would need to inspect those directories before setting up it's temporary directories on vendir sync, it would need to use those collected permissions for vendir_vendor and vendir_vendor/sub_dir. This means that

[2022-10-04 06:12] hoegaarden commented on #186
That would be one option, in addition or as alternative to having the `permission` settings in the config file.

Yeah, kinda. But let's ignore that, because:
that is already happening, to my knowledge (at least for the permission bits that git is tracking) and because in this issue I am solely concerned about the two outer directories (`.directories[].path` & `.directories[].contents[].path`). I j

[2022-10-04 14:53] joaopapereira commented on #186
This use case I believe is somewhat complicated because `vendir` would have to keep the permission information when it downloaded the first time, and before sync happens would have to compare again to make sure it knows what changed so that it can apply after the sync. Not sure if this complexity makes sense for `vendir`. My assumption is that if you had to change the permissions locally maybe it

[2022-10-10 04:34] kumaritanushree opened #189 "Vendir is failing to sync a dir if the previous sync has `disableUnpack: true`"
**What steps did you take:**
Tried to sync dir with the configuration :
[code]
**What happened:**
Vendir is throwing error:
[code]

**What did you expect:**
Vendir is renaming path `.vendir-tmp/incoming`  ( created internally by vendir to perform operations) and due to which vendir is not able to find the dir `.vendir-tmp/incoming/` in the next sync and throwing this error.

Need to have a special

[2022-10-10 18:47] joaopapereira commented on #189
I was able to reproduce it and it definitely looks like a bug. Going to accept it

[2022-10-10 21:09] #189 closed, assigned to joaopapereira

[2022-10-17 17:15] #184 closed, assigned to kumaritanushree

[2022-10-18 23:27] evankanderson opened #192 "Project contains AGPL code, which sets off license scanners"
**What steps did you take:**
#94 imported `exact-sha`, which is AGPL licensed. Some companies use automated tools to detect the use of AGPL code, and this can fire on the examples in this library.

**What happened:**
`examples/hg/vendor/exact-sha/LICENSE` contains the AGPL, and this triggered our license-audit flow because it includes the AGPL.

**What did you expect:**
A project licensed under Ap

[2022-10-19 15:19] joaopapereira commented on #192
We should try to find an apache project that uses hg to replace the one used in this example.
If anyone knows of any from the top of their head please leave a comment here.

Thanks

Accepted the story and now waiting for the availability of people. We also accept PRs if anyone is interested in tackling this issue.

[2022-10-19 16:19] neil-hickey commented on #192
The example just illustrates the usage of a `sha` when using a vendir file right? Is there any need to use `hg` at all? We could remove this entirely and just use something else?

[2022-10-20 17:12] joaopapereira commented on #192
From what I understand this is to test that Mercurial integration based on `sha` is working. So I assume it would be good to keep it.

[2022-10-26 15:15] Zebradil opened #193 "Vendir fails with a misterious error"
I have a CI job which runs multiple (23 currently) parallel processes running `vendir`.

Almost every time I can see the following error:

[code]

It appears sporadically and is not related to a particular configuration `vendir` is running against.

I couldn't reproduce it locally yet and debugging inside a CI job is a bit problematic. So I hope that someone can have an idea of where to look for t

[2022-10-26 15:30] joaopapereira commented on #193
Hey @Zebradil
When did you say 23 currently parallel processes do they all execute `vendir`?

That particular error happens when `vendir` is executing `helm repo add vendir-unused your.chart.url` and apparently helm is not providing any stderr output.
Is it possible that helm is failing when trying to add repositories in parallel?

If you want you(`@João Pereira`) can reach me in Kubernetes slack

[2022-10-26 15:44] Zebradil commented on #193
Hi @joaopapereira,

Thank you for the quick response.

It's a bash script, which loops through a set of environments and runs a function for each of them. Each invocation of this function is done in the background via `&` operator. The function runs `vendir` at some point.

That means that it can run 23 `vendir` parallel processes in theory. However, because running `vendir` takes the most time of

[2022-10-26 15:59] joaopapereira commented on #193
https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/helmchart/http_source.go#L115 is the line where the error is happening and if you look 15 lines up we are preparing the command that I said in previous message.

Basically vendir interacts with helm the same way you would as a user. so it is possible that at any given moment a second `vendir-unused` repository is added and

[2022-10-31 15:57] cppforlife commented on #193
my guess would be that OS is killing child process due to out-of-memory (i dont know if you can confirm it via dmesg tail in parallel) and so vendir just sees process was killed. have you tried throttling number of processes you are spinning up in parallel to see if you can non-failure state consistently?

[2022-11-02 20:14] Zebradil commented on #193
Thank you for your help and sorry for my absence.

The problem seems to be resolved with more RAM.

To me it looks like vendir creates a brand new helm home directory, thus parallel vendir processes should not interfere at this point.

In my project, I maintain states of many kubernetes clusters (==environments). Every environment has a set of applications and every application has its own vendir

[2022-11-10 16:18] voor commented on #176
This came up today in conversation, it was more of a "oh, I guess it doesn't support this" rather than "it needs to support this" -- just wanted to capture the metric.

[2022-11-10 19:07] cppforlife commented on #193
@Zebradil anything else we should work through in this thread before we close this?

[2022-11-14 16:29] joaopapereira commented on #186
@hoegaarden do you think the above use cases match your needs?

[2022-11-14 21:50] Zebradil commented on #193
Apologies, I just forgot to close the issue.

[2022-11-14 21:50] #193 closed, assigned to nobody

[2022-11-15 21:35] seanorama commented on #176
That's outside my skillset, sorry.

[2022-11-22 19:22] hoegaarden commented on #186
Sorry for the long pause. Got side track there just a little bit ... ;)

Yeah, your use cases laid out in https://github.com/vmware-tanzu/carvel-vendir/issues/186#issuecomment-1267132937 are exactly what I am after. This is what I'd want but obviously wasn't able to clearly express the earlier convo.

Thanks!

[2022-11-22 19:34] joaopapereira commented on #186
Cool.

Let us know if this is blocking your work and want us to try and prioritize this feature higher. Also if you are interested in giving it a go and sending a PR we are more than happy to review it or even help you create it.